@font-face {
    font-family: myFirstFont;
    src: url(../fonts/Abel-Regular.ttf);
}
.carousel.slide{
    margin-top: 10%;
    margin-bottom:10% ;

}
.carousel.slide.primera{
    margin-top: 60px;
    max-width: 1180px;
    height: 470px;

    margin-left: auto;
    margin-right: auto;
    margin-bottom: 0px;
}
.lema.row{
    margin-top: -18px;
     height: auto;
     padding-top: 40px;
     font-family: myFirstFont;
     background-color: #e8eff5;
     max-width: 1180px;
     margin-left: auto;
     margin-right: auto;
 }
.libro.row{

    padding-top: 40px;
    font-family: myFirstFont;
    max-width: 1180px;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 40px;
}
.tools.row{
    padding-top: 15px;
    font-family: myFirstFont;
    max-width: 1180px;
    margin-left: auto;
    margin-right: auto;

}
.testimonios.row{
    font-family: myFirstFont;
    max-width: 1180px;
    margin-left: auto;
    margin-right: auto;
    
}
.blogs.row{
    font-family: myFirstFont;
    max-width: 1180px;
    margin-left: auto;
    margin-right: auto;
}
.social.row{
    font-family: myFirstFont;
    max-width: 1180px;
    margin-left: auto;
    margin-right: auto;
    background-color:#0099cc ;
    color:white;
    padding-top: 20px;

}
.nav-link {
    font-size: 20px;
    color: black;
    font-family: myFirstFont;

}
.h1, .h2, .h3, .h4, .h5, .h6 {
    font-family: myFirstFont;
}
.whower.jumbotron{
    max-width: 1180px;
    margin-left: auto;
    margin-right: auto;

}
.jumbotron {


    color: white;
    opacity: .83;
    font-family: myFirstFont;
    margin-bottom: 3px;
}
.btn-primary {

    background-color: #dc3545;
    border-color: #dc3545;
}

.botones{
    color: #0099cc;
    font-family: myFirstFont;
    background-color: #fff;
    border-color: #fff;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;

}

.botones:hover {
    font-family: myFirstFont;
    color: white;
    background-color: #0099cc;
    border-color:#0099cc;
    transition: .5s;
    cursor: pointer;
    display: inline-block;
}
.what{
  color: black;
    font-family: myFirstFont;
  text-align: center;
}
.whatblack{
      color: white ;
    font-family: myFirstFont;
      text-align: center;
      font-size: -webkit-xxx-large;
      margin-top: 80px;
}
.redLetters{
  font-size: 23px;
  text-align: center;
  color: white;
  background-color: #1a3b54;
    font-family: myFirstFont;
    z-index: 4;
    width: 80%;
    margin-left: 10%;


}


.redbotton {
    font-family: myFirstFont;
    background-color: #e71944;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;

}
.redbotton span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.redbotton span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}
.redbotton:hover span {
  padding-right: 25px;
  color: white;
    font-family: myFirstFont;
}

.redbotton:hover span:after {
  opacity: 1;
  right: 0;
  color: white;
    font-family: myFirstFont;
}


.row{
  z-index: 0;


}

.blackkappa{
z-index: 1;
background-color: black;
opacity: .9;

}
.blog1{
  vertical-align: middle;
border-style: none;
width: 240px;
padding-bottom: 20px;
background-color: #e71944;
}
.name{
  color: #e71944;
  font-family: myFirstFont;
}
.descrip{
    font-family: myFirstFont;
}

.librod{
    width : 50%;
    padding-bottom: 30px;
    padding-top: 30px;
}
.black{
    position: relative;
    background-color: darkslategray;
    opacity: .9;
    z-index: 1;
}
.carousel-item.StartPlay{
     background-image: url("../img/Slider-StartcoachingPlayv2.png");
    background-size: auto;
     height: 450px;
 }
.carousel-item.Gen5{
    background-image: url("../img/Slider-G4v3.png");

    height: 450px;
}
.carousel-item.StartDiscover{
    background-image: url("../img/Slider-StartcoachingDiscoverv2.png");

    height: 450px;
}
.Startplay{

     width: 100%;

 }
.Startgen{
    margin-top: 30px;
    width: 50%;

}
.Startdisco{
    width: 80%;

}
.fondoblanco{
    background-color: whitesmoke;
    opacity: .7;
    font-size: 2px;
    width: 70%;
}
.startletras{
    font-size: 20px;
    color: #1a3b54;
    opacity:1;
    font-family: myFirstFont;

}
.overlay{

    position: absolute; /* Sit on top of the page content */
    width: 100%; /* Full width (cover the whole page) */
    height: 100%; /* Full height (cover the whole page) */
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.5); /* Black background with opacity */
    z-index: 2; /* Specify a stack order in case you're using a different order for other elements */

}
.redLetters:hover {
    transition-timing-function: linear;
    transition-delay: 1s;
}
.col-lg-6.gen{
    background-image: url('../img/gen.png');
    background-size: 130%;
    background-repeat: no-repeat;
    min-height: 320px;
    margin-top: 2px;
}
.col-12.gen{
    margin-top: 2px;

}
.col-lg-6.col-12.team{
    background-image: url('../img/team.png');    background-size: 100%;
    background-repeat: no-repeat;
    min-height: 320px;

}
.fa {
    padding: 10px;
    font-size: 20px;
    width: 100%;
    text-align: center;
    margin: 5px 2px;
    background:  #0099cc;
    color: white;
}

.fa:hover {
    opacity: 0.9;
    background-color: #0099cc;
    color: white;
    font-size: 25px;
    transition: .23s;
    text-decoration: none;


}
