@font-face {
    font-family: myFirstFont;
    src: url(../fonts/MKAbel.ttf);
}
.nav-link {
    font-size: 20px;
    color: black;
    font-family: myFirstFont;

}
.h1, .h2, .h3, .h4, .h5, .h6 {
    font-family: myFirstFont;
}
.jumbotron {


    color: white;
    opacity: .83;
    font-family: myFirstFont;
    margin-bottom: 3px;
}
.btn-primary {

    background-color: #dc3545;
    border-color: #dc3545;
}
.no-gutters {
    margin-right: 0;
    margin-left: 0;
    background-color: #e8eff5;
}
.botones{
    color: #e71944;
    font-family: myFirstFont;
    background-color: #fff;
    border-color: #fff;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;

}

.botones:hover {
    font-family: myFirstFont;
    color: white;
    background-color: #e71944;
    border-color:#dc0e0e;
    transition: .5s;
    cursor: pointer;
    display: inline-block;
}
.what{
  color: black;
    font-family: myFirstFont;
  text-align: center;
}
.whatblack{
      color: white ;
    font-family: myFirstFont;
      text-align: center;
      font-size: -webkit-xxx-large;
      margin-top: 80px;
}
.redLetters{
  font-size: 23px;
  text-align: center;
  color: white;
  background-color: #e71944;
    font-family: myFirstFont;

}
.redbotton {
    font-family: myFirstFont;
    background-color: #e71944;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;

}
.redbotton span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.redbotton span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}
.redbotton:hover span {
  padding-right: 25px;
  color: white;
    font-family: myFirstFont;
}

.redbotton:hover span:after {
  opacity: 1;
  right: 0;
  color: white;
    font-family: myFirstFont;
}
.fa {
  padding: 20px;
  font-size: 30px;
  width: 30px;
  text-align: center;
  text-decoration: none;
  margin: 5px 2px;
  border-radius: 50%;
}

.fa:hover {
    opacity: 0.7;
}

.fa-facebook {
  background: #3B5998;
  color: white;
      width: 70%;
}

.fa-twitter {
  background: #55ACEE;
  color: white;
      width: 70%;
}

.fa-google {
  background: #dd4b39;
  color: white;
      width: 70%;
}



.fa-youtube {
  background: #bb0000;
  color: white;
      width: 70%;
}

.fa-instagram {
  background: #125688;
  color: white;
      width: 70%;
}

.row{
  z-index: 0;


}

.blackkappa{
z-index: 1;
background-color: black;
opacity: .9;

}
.blog1{
  vertical-align: middle;
border-style: none;
width: 240px;
padding-bottom: 20px;
background-color: #e71944;
}
.name{
  color: #e71944;
  font-family: myFirstFont;
}
.descrip{
    font-family: myFirstFont;
}
