<!DOCTYPE html>
<html lang="es" >
<head>
    <link rel="icon" type="image/png" href="../img/favicon.ico">

    <link rel="stylesheet" id="googlefonts_heading-css" href="http://fonts.googleapis.com/css?family=Roboto%3A300%2C400%2C400italic%2C700&amp;ver=3.8.1" type="text/css" media="all">
    <link href='http://fonts.googleapis.com/css?family=Roboto:400,300,700,700italic&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="../style/main.css">
    <meta  charset="utf-8">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <script src="scripts/main.js"></script>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js" integrity="sha384-b/U6ypiBEHpOf/4+1nzFpr53nxSS+GLCkfwBdFNTxtclqqenISfwAzpKaMNFNmj4" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/js/bootstrap.min.js" integrity="sha384-h0AbiXch4ZDo7tp9hKZ4TsHbi047NrKGLO3SEJAg45jXxnGIfYzk4Si90RDIqNm1" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M" crossorigin="anonymous">
    <title>PRACTITIONER

    </title>
</head>
<body >
<div class="container-fluid">
    <nav class="navbar navbar-expand-lg navbar-light bg-light" >
        <div class="row" style="width: 100%">
            <div class="col-5">
                <a class="navbar-brand logo" href="../index.html" >
                    <div align="left">
                        <img src="../img/logo-startcoaching_positivo.png" width="50%" >
                    </div>
                </a>

            </div>
            <div  class="col-7" align="right" style="margin-top: 17px;">
                <ul class="nav justify-content-end">
                    <li class="nav-item ">
                        <div class="dropdown">
                            <button class="dropbtn">APRENDER</button>
                            <div class="dropdown-content" align="center">
                                <a href="programa.html">DISCOVER</a>
                                <a href="programa2.html">GEN5</a>
                                <a href="programa3.html">ACADEMIA N</a>
                            </div>
                        </div>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="libro.html">LIBRO  </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="http://startcoachingla.blogspot.com/">BLOG</a>
                    </li>
                    <li class="nav-item">
                        <a class="redbotton" href="programacion.html" role="button"><span>APLICAR</span></a>
                    </li>
                </ul>
            </div>

        </div>

    </nav>

    <div class="producto4">
            <div class="row">
                <div class="col-3" align="center" style="padding-top: 5%;">

                    <a href=" programa3.html"  >
                        <img src="../img/left-angle-bracket.svg" width="40px" >

                    </a>

                </div>
                <div class="col-6" align="center">

                    <img src="../img/Logo_practitioner.png" width="80%" style="padding-top: 3%;">


                </div>
                <div class="col-3"style="padding-top: 5%;" align="center">

                    <a href="programa2.html">
                        <img src="../img/scroll-arrow-to-right.svg" width="40px">

                    </a>

                </div>

            </div>

    </div>

<div class="Contenido_gen" style="padding-right: 5%; padding-left: 5%">
      <h1 align="center">  EL PROGRAMA</h1>
      <br>
      <h4 align="center">
          Startcoaching Practitioner es un programa de 6 meses para transformarte en
          un practicante comprometido del Coaching de emprendimiento y la innovación.
          También te ayudará al descubrimiento, junto a clientes reales,  de tu oferta de valor
          como Coach profesional.


          <br><br>


          </h4>


</div>

    <div class="Resumen">
        <div class="row">
            <div class="col-3" align="right">
                <img src="../img/presentacion_graficaPRACTITIONER1.png" alt="">
            </div>
            <div class="col-3" align="center">
                <img src="../img/presentacion_graficaPRACTITIONER2.png" alt="">
            </div>
            <div class="col-3" align="center">
                <img src="../img/presentacion_graficaPRACTITIONER3.png" alt="">
            </div>
            <div class="col-3" align="left">
                <img src="../img/presentacion_graficaPRACTITIONER4.png" alt="">
            </div>
        </div>
    </div>

<div class="Contenido_gen" >
          <h1 align="center">  <b>¿QUÉ APRENDERÁS?</b></h1>
    <br><br>
          <br>

              <div class="row" style="padding-right: 5%; padding-left: 5%">
                <div class="col-1">
                  <div class="rojo">


                  </div>
                  <div class="blanco">

                  </div>

                </div>
                <div class="col-11" style="text-align: justify;">
                  <h4>Descubrirás cómo tener conversaciones poderosas de facilitación
                     y coaching para liberar los talentos del emprendedor y  que pueda
                      construir un emprendimiento con un propósito más grande y con alto
                      potencial de ser un éxito comercial.

                      <br><br>
                      </h4>

                </div>
                <div class="col-1">
                  <div class="rojo">


                  </div>
                  <div class="blanco">

                  </div>

                </div>
                <div class="col-11" style="text-align: justify;">
                  <h4>Ganarás experiencia como coach en una etapa clave de un emprendimiento
                     temprano, cuando el líder y su equipo descubren un problema importante que resolver, validan
                     su  propuesta de valor con clientes reales y diseñan un modelo de negocio escalable.

                        <br><br>
                      </h4>

                </div>
                <div class="col-1">
                  <div class="rojo">


                  </div>
                  <div class="blanco">

                  </div>

                </div>
                <div class="col-11" style="text-align: justify;">
                  <h4>
                      A desplegar tu oferta como coach profesional. Y esto lo aprenderás conectándote con clientes reales
                      y desplegando la propuesta de valor de <a href="programa3.html">Academia N</a> en comunidades de
                      emprededores donde tienes influencia.
                        <br><br>
                      </h4>

                </div>
              </div>




</div>

    <div class="Contenido_gen" >
        <h1 align="center">  CONTENIDO DEL PROGRAMA</h1>
        <br>
        <h4>
            En el programa pondrás en práctica experiencias de facilitación y coaching con emprendedores
            y empresarios innovadores. Todo ello impulsado por clases virtuales y poderosos tools de herramientas.
            <br><br>
        </h4>
        <h4 align="justify" style="padding-left: 10%;">
            <b>WORKSHOP 1:</b> El arte de empezar: emprendimiento
            y la innovación <br> en las etapas tempranas de un proyecto.
            <br><br>
            <b>WORKSHOP 2: </b> Coaching para negocios innovadores


        </h4>





    </div>


    <div class="ElementosDiferenciadores">
        <div class="row">
            <div class="col-12" align="center">

                <h2><b>ELEMENTOS DIFERENCIADORES</b></h2>
                <br><br>

            </div>
            <div class="col-3">
                <h3 >
                    <b>
                        MODELO TEÓRICO <br> Y ÉTICO
                    </b>
                    <br>
                </h3>
                <img src="../img/a1.png" alt="" width="70%">
                <br>
                <h4 >
                    Conocerás con mayor profundidad las bases
                    de la práctica del coaching de emprendimiento e innovación.


                </h4>


            </div>
            <div class="col-3">

                <h3 >
                    <b>INTENSIVO EN <br>PRÁCTICAS</b>
                    <br>
                </h3>
                <img src="../img/a2.png" alt="" width="80%" style="padding-bottom: 8%;">
                <br>
                <h4 >
                    Tendrás experiencias de facilitación y coaching
                    con emprendedores profesionales

                </h4>


            </div>
            <div class="col-3">
                <h3 >
                    <b>ORIENTADO AL EMPRENDIMIENTO</b>
                    <br>
                </h3>
                <img src="../img/a3.png" alt=""width="77%" style="padding-bottom: 5%;">
                <br>
                <h4 >
                    Desarrollarás competencias para descubrir
                    y gestionar  tu negocio como coach




                </h4>


            </div>
            <div class="col-3">
                <h3 ><br>
                    <b>RECURSOS</b>
                    <br>
                </h3>
                <img src="../img/a4.png" alt="" width="88%" style="padding-bottom: 8%;">
                <br>
                <h4 >
                    Contarás con un Toolkit de herramientas para desarrollar
                    experiencias extraordinarias

                </h4>


            </div>

        </div>

</div>






        <br><br><br>
        <div  style=" background-color: #f2f2f2;">
            <div class="ResumenAplica">

                <div class="row">

                    <div class="col-12" align="center">

                        <h2><b>RESUMEN DEL PROGRAMA</b></h2>
                        <br><br>

                    </div>
                    <div class="col-4" style="padding-bottom: 5%;">
                        <div class="row">
                            <div class="col-2">
                                <i style="font-size:48px; padding: 0px;text-align: justify; margin: 0px 0px;background:  transparent;color: black; " class="fa">&#xf017;</i>

                            </div>
                            <div class="col-10">

                                <h3> <b>¿Cuánto dura?</b></h3>

                            </div>


                            <div class="col-12">
                                <h4>Tiene una duración de <b> 70 horas</b> de conferencias y coaching, más otras 100 horas de práctica. </h4>
                            </div>
                        </div>
                    </div>
                    <div class="col-4">

                        <div class="row">
                            <div class="col-2">
                                <i class="fa fa-money" style="font-size:48px; padding: 0px;text-align: justify; margin: 0px 0px;background:  transparent;color: black; "></i>

                            </div>
                            <div class="col-10">

                                <h3> <b>¿Cuánto cuesta?</b></h3>

                            </div>


                            <div class="col-12">
                                <h4>Consúltalo al aplicar</h4>
                            </div>
                        </div>







                    </div>
                    <div class="col-4">
                        <div class="row">
                            <div class="col-2">
                                <i class="fa"style="font-size:48px; padding: 0px;text-align: justify; margin: 0px 0px;background:  transparent;color: black; ">&#xf006;</i>

                            </div>
                            <div class="col-10">

                                <h3> <b>Becas disponibles</b></h3>

                            </div>


                            <div class="col-12">
                                <h4>Movimiento Club de Emprendedores: <br><b>25% de descuento directo</b>
                                </h4>
                            </div>
                        </div>


                    </div>
                    <div class="col-4">
                        <div class="row">
                            <div class="col-2">
                                <i style="font-size:48px; padding: 0px;text-align: justify;margin: 0px 0px;background:  transparent;color: black; " class="fa">&#xf073;</i>

                            </div>
                            <div class="col-10">

                                <h3> <b>¿Cuándo empieza?</b></h3>

                            </div>


                            <div class="col-12">
                                <h4>Consulta el calendario por país.
                                </h4>
                            </div>
                        </div>


                    </div>
                    <div class="col-4">
                        <div class="row">
                            <div class="col-2">
                                <i style="font-size:48px; padding: 0px;text-align: justify;margin: 0px 0px; background:  transparent;color: black; " class="fa">&#xf09d;</i>

                            </div>
                            <div class="col-10">

                                <h3> <b>¡Fináncialo!</b></h3>

                            </div>


                            <div class="col-12">
                                <h4>En cuotas mensuales sin intereses.

                                </h4>
                            </div>
                        </div>


                    </div>
                    <div class="col-4" align="center">
                        <br>

                        <a class="redbotton" href="programacion.html" role="button" style="padding: 5%; "><span>  ¡APLICA AHORA!</span></a>


                    </div>

                </div>
            </div>

        </div>





</div>






                    <div style="background-color: #0099cc;">
                        <div class="row social">


                            <div class="col-lg-4 col-12" align="center">
                                <h5>Aceledarado Por:</h5>
                                <img src="../img/LogoAccedeNegativo.png" alt="accede" width="30%">


                            </div>
                            <div class="col-lg-4 col-12">
                                <div class="row">
                                    <div class="col-12">
                                        <h4 align="center">SIGUE CON NOSOTROS:
                                        </h4>

                                    </div>
                                    <div class="col" align="center">
                                        <a href="https://www.facebook.com/StartCoachingLA/" class="fa fa-facebook"></a>
                                    </div>
                                    <div class="col" align="center">
                                        <a href="https://twitter.com/StartCoachingLA" class="fa fa-twitter"></a>
                                    </div>
                                    <div class="col" align="center">
                                        <a href="https://www.instagram.com/startcoachingla/" class="fa fa-instagram"></a>
                                    </div>
                                    <div class="col" align="center">
                                        <a href="https://www.linkedin.com/company/startcoachingla/" class="fa fa-linkedin"></a>
                                    </div>
                                    <div class="col" align="center">
                                        <a href="https://www.youtube.com/channel/UClMcCLlkAHN7UgW7jpnGW5g" class="fa fa-youtube"></a>
                                    </div>

                                </div>

                            </div>
                            <div class="col-lg-4 col-12" align="center">
                                <img src="../img/StartCoaching.png" width="80%" style="margin-top: 10px;">

                            </div>
                        </div>

                    </div>

</body>


</html>
