<!DOCTYPE html>
<html lang="es" >
<head>
    <link rel="icon" type="image/png" href="../img/favicon.ico">
    <link rel="stylesheet" id="googlefonts_heading-css" href="http://fonts.googleapis.com/css?family=Roboto%3A300%2C400%2C400italic%2C700&amp;ver=3.8.1" type="text/css" media="all">
    <link href='http://fonts.googleapis.com/css?family=Roboto:400,300,700,700italic&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="../style/main.css">
    <meta  charset="utf-8">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <script src="scripts/main.js"></script>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js" integrity="sha384-b/U6ypiBEHpOf/4+1nzFpr53nxSS+GLCkfwBdFNTxtclqqenISfwAzpKaMNFNmj4" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/js/bootstrap.min.js" integrity="sha384-h0AbiXch4ZDo7tp9hKZ4TsHbi047NrKGLO3SEJAg45jXxnGIfYzk4Si90RDIqNm1" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M" crossorigin="anonymous">
    <title>Programacion
    </title>
</head>
<body >
<div class="container-fluid">
    <nav class="navbar navbar-expand-lg navbar-light bg-light" style="
    position: fixed;
    z-index: 100;
    width: 100%;
    overflow: hidden;
    top:0;
">
        <a class="navbar-brand logo" href="../index.html">
            <div>
                <img src="../img/logo.png" width="45px" height="30px">
            </div>
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarText">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="programacion.html">PROGRAMACIÓN  <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">LIBRO  </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">TOOLKIT</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">NOSOTROS</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">BLOG</a>
                </li>
            </ul>

            </span>
        </div>
    </nav>

    <div class="producto">
            <div class="row">
                <div class="col-3" style="padding-top: 15%;" align="center">

                    <a href=" programa2.html"  >
                        <img src="../img/left-angle-bracket.svg" width="40px" >

                    </a>

                </div>
                <div class="col-6" align="center">

                    <img src="../img/discover.png" width="60%">

                        <h3 style="text-align: center; font-family: myFirstFont; color: white;">Vive  la experiencia en vívo y aprende
                            directamente de los creadores</h3>

                </div>
                <div class="col-3"style="padding-top: 15%;" align="center">

                    <a href=" programa2.html">
                        <img src="../img/scroll-arrow-to-right.svg" width="40px">

                    </a>

                </div>

            </div>

    </div>
    <div style="background-color: #e8eff5;">
        <div class="relase_date" >
            <div class="row">
                <div class="col-5 " align="right">
                    <i class="material-icons" style="font-size: 60px; opacity: .8;">edit_location</i>
                </div>

                <div class="col-7 " align="left">
                    <br>
                    <h3 style=" font-family: myFirstFont;" >ACCEDE. CARACAS (VENEZUELA)</h3>

                </div>
                <div class="col-5 " align="right">
                    <i class="large material-icons" style="font-size: 60px;opacity: .8;" >date_range</i>
                </div>
                <div class="col-7 " align="left">
                    <br>
                    <h3 style=" font-family: myFirstFont;" >DEL 23 AL 26 DE NOVIEMBRE
                    </h3>

                </div>



        </div>

        </div>
    </div>

    <div class="queAprenderas">
        <div class="col-12">
            <h4 style="text-align: center; font-family: myFirstFont;">CONÉCTATE CON EL MUNDO DEL EMPRENDIMIENTO Y LA INNOVACIÓN Y EXPERIMENTA CON HERRAMIENTAS PROBADAS

            </h4>
            <div align="center">
            <iframe width="640px" height="260" src="https://www.youtube.com/embed/i0rPZdqyYqc" frameborder="0" allowfullscreen></iframe>
             </div>

            <div>


            </div class="row">
            <div class="col-12" align="center">

                    <h3 style="color: #dc3545;"> ¿QUÉ APRENDERÁS?</h3>

            </div>

            <div class="col-12" style="padding-left: 10%" >

                    <ul style="text-align: justify; font-family: myFirstFont;font-size: 20px;">
                        <li>A comprender <b>cómo piensan los emprendedores</b> y <b>cómo dominan la incertidumbre.</b></li>
                        <li>Combinar <b>herramientas y lienzos visuales</b> para crear y compartir una visión poderosa del negocio</li>
                        <li>Te familiarizarás con el <b>pensamiento no lineal</b> y lo aplicarás en el <b>proceso de diseño de doble lazo.</b>
                        </li>
                        <li>Cómo los emprendedores innovadores escuchan a sus clientes, crean experimentos y validan sus hipótesis de un negocio.
                        </li>
                        <li>Cómo otras organizaciones crean una cultura con estas nuevas prácticas, habilidades y mentalidad.

                        </li>
                    </ul>

        </div>
            <h4 style="text-align: center; font-family: myFirstFont;"><b>Conviérte en un rebelde y cambia  tu organización a través del trabajo en equipo
                y las narrativas de innovación</b>

            </h4>
        </div>
        </div>



    </div>
    <div style="background-color: #e8eff5;">
        <div class="Facilitadores">
            <div class="row">
                <div class="col-12 col-lg-6">



                </div>
                <div class="col-12 col-lg-6">
                    <h3 class="what"align="center" style="padding-top: 5% ">Facilitadores</h3>

                    <h6 class="what"align="center" style="font-size: 20px;">Startcoaching Discover es realizado por Esteban Reyes Marcano,  creador de la Práctica,  en compañía de un poderoso staff de coaches de emprendimiento  e  innovación.</h6>
                </div>






            </div>
    </div>
    </div>


    <div class="Contenido">

                <div class="row contenido">

                                        <div class="col-12">
                                            <div align="center" style="position: absolute;
                                             margin-left: 30%;">
                                            <h1 class="what"align="center" style="padding-top: 10%; background-color:#dc3545; color: white">Contenido
                                             </h1>
                                             </div>
                                        </div>

                    <div style="width: 10px;height: 30px; background-color: #0e90d2;    position: relative;
    top: 63px;
    margin-left: 38%;"></div>


                    <div  class="col-10">
                    <div class="row contenedor" style="margin-top:70px;  " >

                        <div class="fondoblanco" style="margin-left: 10%; width: 72% ">

                                <div class="col-12">
                                    <h1 class="what"align="center">DÍA 1 - MAÑANA. : EL VIAJE INTERNO DEL EMPRENDEDOR
                                    </h1>
                                </div>

                                        <div class="col-6"></div>
                                        <div class="col-6">
                                            <ul style="text-align: center; font-family: myFirstFont; font-size: 20px;">
                                                <li>¿Por qué una práctica de coaching para emprender e innovar?

                                                </li>
                                                <li>¿Que hace que los emprendedores sean emprendedores?
                                                </li>
                                                <li>Comprendiendo la mentalidad (mindset) del descubridor. Construyendo una torre de espaguetis.

                                                </li>
                                                <li>¿Por qué crear una empresa es diferente a gestionarla?

                                                </li>
                                                <li>
                                                En qué consiste entonces el coaching de emprendimiento e innovación
                                                </li>
                                            </ul>


                                        </div>
                             </div>
                </div>

            </div>

                </div>
                    <div style="width: 10px;height: 50px; background-color: #0e90d2;    position: relative;
    top: 38px;
    margin-left: 38%;"></div>
                    <div  class="col-10">
                        <div class="row contenedor" style="margin-top:70px;width: 85%; ">

                            <div class="fondoblanco" style="margin-left: 10%; width: 100%;">
                                <div class="col-12">

                                    <h1 class="what"align="center">DÍA 1 - TARDE: ENFOQUE ONTOLÓGICO DE LA ACCIÓN EMPRENDEDORA

                                    </h1>
                                </div>

                                <div class="col-6">


                                    <ul style="text-align: center; font-family: myFirstFont; font-size: 20px;">
                                        <li>Los condicionantes Ontológico que limitan la acción emprendedora.


                                        </li>
                                        <li>La innovación como expresión natural del ser emprendedor.

                                        </li>
                                        <li>El emprendimiento como dominio lingüístico y competencia conversacional


                                        </li>
                                        <li>Las narrativas que empoderan la acción emprendedora del siglo 21.



                                        </li>
                                        <li>Los ecosistemas de innovación.


                                        </li>


                                    </ul>
                                </div>
                                <div class="col-6">



                                </div>
                            </div>
                        </div>
                        <div class="col-12">
                            <div style="width: 10px;height: 50px; background-color: #0e90d2;    position: relative;
                            top: 38px;
                            margin-left: 38%;"></div>
                        </div>
                    <div  class="col-10">
                    <div class="row contenedor" style="margin-top:70px; ">

                        <div class="fondoblanco" style="margin-left: 10%; width: 100%">
                            <div class="col-12">

                                <h1 class="what"align="center">DÍA 2 - MAÑANA: EL EQUIPO FUNDADOR

                                </h1>
                            </div>

                            <div class="col-6">


                                <ul style="text-align: center; font-family: myFirstFont; font-size: 20px;">
                                    <li>El emprendimiento es un deporte de  equipo que pretendemos jugar solos.



                                    </li>
                                    <li>Propósitos, compromisos, motivación, liderazgo y  talento. La gestión de las competencias sociales y de liderazgo

                                    </li>
                                    <li>Scrum como método de gestión del proyecto de innovación.



                                    </li>
                                    <li>El panel de control del proyecto emprendedor




                                    </li>
                                    <li>La gestión estratégica del proyecto: pivotar o persistir


                                    </li>


                                </ul>
                            </div>
                            <div class="col-6">



                            </div>
                        </div>
                    </div>

                </div>


                    <div class="col-12">
                        <div style="width: 10px;height: 50px; background-color: #0e90d2;    position: relative;
                            top: 38px;
                            margin-left: 38%;"></div>
                    </div>
                    <div  class="col-10">
                    <div class="row contenedor" style="margin-top:70px; ">

                        <div class="fondoblanco" style="margin-left: 10%; width: 100%">
                            <div class="col-12">

                                <h1 class="what"align="center">DÍA 2 - TARDE: EL PROCESO DE INNOVACIÓN

                                </h1>
                            </div>

                            <div class="col-6">


                                <ul style="text-align: center; font-family: myFirstFont; font-size: 20px;">
                                    <li>La clave del proceso de creación es la innovación.



                                    </li>
                                    <li>El método Lean Innovation.

                                    </li>
                                    <li>El proceso de desarrollo de clientes



                                    </li>
                                    <li>El Business Model Canvas




                                    </li>
                                    <li>El diseño centrado en personas


                                    </li>
                                    <li>El espacio de descubrimiento y el espacio de posibilidades.


                                    </li>

                                </ul>
                            </div>
                            <div class="col-6">



                            </div>
                        </div>
                    </div>
                </div>

                    <div class="col-12">
                        <div style="width: 10px;height: 50px; background-color: #0e90d2;    position: relative;
                            top: 38px;
                            margin-left: 38%;"></div>
                    </div>
                    <div  class="col-10">
                        <div class="row contenedor" style="margin-top:70px; ">

                            <div class="fondoblanco" style="margin-left: 10%; width: 100%">
                                <div class="col-12">

                                    <h1 class="what"align="center">DÍA 3. MAÑANA: EL DESCUBRIMIENTO DEL CLIENTE

                                    </h1>
                                </div>

                                <div class="col-6">

                                    <ul style="text-align: center; font-family: myFirstFont; font-size: 20px;">
                                        <li>¿Por qué muchos productos, que parecen geniales, fracasan?




                                        </li>
                                        <li>Centrarse en el cliente, para empezar.

                                        </li>
                                        <li>Aprender a escuchar preocupaciones de los clientes.




                                        </li>
                                        <li>Canvas de Perfil del  problema del cliente




                                        </li>
                                        <li>Observar y escuchar acerca de tareas del cliente, dolores y alegrías.




                                        </li>

                                    </ul>
                                </div>
                                <div class="col-6">



                                </div>
                            </div>
                        </div>
                    </div>


                    <div class="col-12">
                        <div style="width: 10px;height: 50px; background-color: #0e90d2;    position: relative;
                            top: 38px;
                            margin-left: 38%;"></div>
                    </div>
                    <div  class="col-10">
                        <div class="row contenedor" style="margin-top:70px; ">

                            <div class="fondoblanco" style="margin-left: 10%; width: 100%">
                                <div class="col-12">

                                    <h1 class="what"align="center">DÍA 3. TARDE: GENERACIÓN DE MODELOS DE NEGOCIOS

                                    </h1>
                                </div>

                                <div class="col-6">

                                    <ul style="text-align: center; font-family: myFirstFont; font-size: 20px;">
                                        <li>Distinciones claves y el lenguaje de los modelos de negocios.




                                        </li>
                                        <li>Quién: perfil del cliente, oferta de valor, canales y relaciones con el cliente.


                                        </li>
                                        <li>Cómo: Recursos claves, actividades claves, socios.





                                        </li>
                                        <li>Cuánto: Flujo de Ingresos y estructura de costos.





                                        </li>
                                        <li>Mitos y creencias que limitan el diseño de modelos de negocios más potentes.





                                        </li>

                                    </ul>
                                </div>
                                <div class="col-6">



                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-12">
                    <div style="width: 10px;height: 50px; background-color: #0e90d2;    position: relative;
                            top: 38px;
                            margin-left: 38%;"></div>
                </div>
                    <div  class="col-10">
                        <div class="row contenedor" style="margin-top:70px; ">

                            <div class="fondoblanco" style="margin-left: 10%; width: 100%">
                                <div class="col-12">

                                    <h1 class="what"align="center">DÍA 4. MAÑANA: DISEÑO DE LA OFERTA DE VALOR

                                    </h1>
                                </div>

                                <div class="col-6">

                                    <ul style="text-align: center; font-family: myFirstFont; font-size: 20px;">
                                        <li>Uso de historias para diseñar una propuesta de valor.




                                        </li>
                                        <li>Productos y servicios para océanos azules.


                                        </li>
                                        <li>Aliviadores de dolor





                                        </li>
                                        <li>Condiciones de satisfacción.






                                        </li>


                                    </ul>
                                </div>
                                <div class="col-6">



                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-12">
                        <div style="width: 10px;height: 50px; background-color: #0e90d2;    position: relative;
                            top: 38px;
                            margin-left: 38%;"></div>
                    </div>
                    <div  class="col-10">
                        <div class="row contenedor" style="margin-top:70px; ">

                            <div class="fondoblanco" style="margin-left: 10%; width: 100%">
                                <div class="col-12">

                                    <h1 class="what"align="center">DÍA 4. TARDE: UNA PRESENTACIÓN WOW PARA VENDER

                                    </h1>
                                </div>

                                <div class="col-6">

                                    <ul style="text-align: center; font-family: myFirstFont; font-size: 20px;">
                                        <li>La práctica del pitch en los ecosistemas de innovación.

                                        </li>
                                        <li>Cómo conectar con mi idea.


                                        </li>
                                        <li>Cómo mostrar un problema de forma relevante.


                                        </li>
                                        <li>La solución como un demo.


                                    </li>
                                        <li>Mostrar responsabilidad incondicional del líder y el equipo.


                                        </li>

                                    </ul>
                                </div>
                                <div class="col-6">



                                </div>
                            </div>
                        </div>
                    </div>

        </div>


    </div>


    <div class="row testimonios">

        <div class="row">
            <div class="col-6" >
                <div align="center">
                    <img src="../img/comillas.png" align="middle" width="25%">

                </div>

                <h2 class="what">Esta experiencia te permite hacer una inmersión en los aspectos claves de la práctica de coaching de emprendimiento. Te da contexto, inspiración y herramientas prácticas para actuar.
                </h2>
            </div>
            <div class="col-6" align="center">
                <img src="../img/testimonio.png"   style="width : 40%;" align="center"></img>
            </div>
        </div>
    </div>




    </div>






    <div class="preguntas">

        <div class="row">
            <div class="col-md-6 mb-3">
                <form>
                        <h2 class="what" style="font-size: 15px; color: #dc3545">¡HOLA! ¿TIENES UNA PREGUNTA PARA NOSOTROS?</h2>

                    <label for="validationServer01">¿Cómo te llamas?</label>
                    <input type="text" class="form-control" id="validationServer01" placeholder="Nombres" required>

                    <div class="form-group">
                        <label for="exampleFormControlInput1">Email</label>
                        <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="name@example.com" required>
                    </div>
                    <div class="form-group">
                        <label for="exampleFormControlInput1">Telefono</label>
                        <input class="form-control" type="text" placeholder="Telefono" required>
                    </div>
                    <div class="form-group">
                        <label for="exampleFormControlTextarea1">¿Qué deseas saber?</label>
                        <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
                    </div>
                    <div align="right">
                    <button type="submit" class="btn btn-primary" >Enviar</button>
                    </div>
                </form>

            </div>
            <div class="col-md-6 mb-3">
                <div class="col-12">
                    <h4>Envíanos un mensaje a: </h4>
                </div>
                <div class="row" style="padding-top: 10%">
                        <div class="col-6">
                            <i class="fa fa-whatsapp" aria-hidden="true" style="color: green;"></i>
                        </div>
                        <div class="col-6">
                            <br>
                            <h3>0414-2138331
                            </h3>
                        </div>
            </div>

            </div>

        </div>


    </div>





    <div style="background-color: #0099cc;">
        <div class="row social">


            <div class="col-lg-4 col-12" align="center">
                <h5>Aceledarado Por:</h5>
                <h2>Accede</h2>

            </div>
            <div class="col-lg-4 col-12">
                <div class="row">
                    <div class="col-12">
                        <h4 align="center">SIGUE CON NOSOTROS:
                        </h4>

                    </div>
                    <div class="col" align="center">
                        <a href="#" class="fa fa-facebook"></a>
                    </div>
                    <div class="col" align="center">
                        <a href="#" class="fa fa-twitter"></a>
                    </div>
                    <div class="col" align="center">
                        <a href="#" class="fa fa-instagram"></a>
                    </div>
                    <div class="col" align="center">
                        <a href="#" class="fa fa-linkedin"></a>
                    </div>
                    <div class="col" align="center">
                        <a href="#" class="fa fa-youtube"></a>
                    </div>

                </div>

            </div>
            <div class="col-lg-4 col-12" align="center">
                <img src="../img/StartCoaching.png" width="80%" style="margin-top: 10px;">

            </div>
        </div>

    </div>
</div>
</body>


</html>