<!DOCTYPE html>
<html lang="es" >
<head>
    <link rel="icon" type="image/png" href="../img/favicon.ico">
    <link rel="stylesheet" id="googlefonts_heading-css" href="http://fonts.googleapis.com/css?family=Roboto%3A300%2C400%2C400italic%2C700&amp;ver=3.8.1" type="text/css" media="all">
    <link href='http://fonts.googleapis.com/css?family=Roboto:400,300,700,700italic&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="../style/main.css">
    <meta  charset="utf-8">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <script src="scripts/main.js"></script>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js" integrity="sha384-b/U6ypiBEHpOf/4+1nzFpr53nxSS+GLCkfwBdFNTxtclqqenISfwAzpKaMNFNmj4" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/js/bootstrap.min.js" integrity="sha384-h0AbiXch4ZDo7tp9hKZ4TsHbi047NrKGLO3SEJAg45jXxnGIfYzk4Si90RDIqNm1" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M" crossorigin="anonymous">
    <title>DISCOVER
    </title>
</head>
<body >
<div class="container-fluid">
    <nav class="navbar navbar-expand-lg navbar-light bg-light"  >
        <div class="row" style="width: 100%">
            <div class="col-5">
                <a class="navbar-brand logo" href="../index.html" >
                    <div align="left">
                        <img src="../img/logo-startcoaching_positivo.png" width="50%" >
                    </div>
                </a>


            </div>
            <div  class="col-7" align="right" style="margin-top: 17px;">
                <ul class="nav justify-content-end">
                    <li class="nav-item ">
                        <div class="dropdown">
                            <button class="dropbtn">APRENDER</button>
                            <div class="dropdown-content" align="center">
                                <a href="programa2.html">GEN5</a>

                            </div>
                        </div>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="libro.html">LIBRO  </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="http://startcoachingla.blogspot.com/">BLOG</a>
                    </li>
                    <li class="nav-item">
                        <a class="redbotton" href="programacion.html" role="button"><span>APLICAR</span></a>
                    </li>
                </ul>
            </div>

        </div>

    </nav>

    <div class="producto">
            <div class="row">
                <div class="col-3" style="padding-top: 15%;" align="center">

                    <a href=" programa2.html"  >
                        <img src="../img/left-angle-bracket.svg" width="40px" >

                    </a>

                </div>
                <div class="col-6" align="center" style="padding-top: 10%;">

                    <img src="../img/LOGO-DISCOVER-STARTCOACHING.png" width="100%">



                </div>
                <div class="col-3"style="padding-top: 15%;" align="center">

                    <a href=" programa2.html">
                        <img src="../img/scroll-arrow-to-right.svg" width="40px">

                    </a>

                </div>

            </div>

    </div>
    <div style="background-color: #e8eff5;font-family: myFirstFont;max-width: 1100px;   margin-left: auto;
    margin-right: auto; padding-top:2%; padding-bottom: 2%; ">
       <div class="row">
           <div class="col-2" align="center">
               <img src="../img/Personaje-Entrenando.png" width="50%">

           </div>
           <div class="col-10">
                <h4>Descubre la emocionante práctica de coaching para ayudar a emprendedores a crear negocios innovadores.
                </h4>

           </div>

       </div>

    </div>

    <div class="queAprenderas">
        <div class="col-12">
            <h1 style="text-align: center; font-family: myFirstFont;">WORKSHOP



            </h1>
            <br><br>
            <div class="col-12" align="center" >
                <h3 style=" font-family: myFirstFont; text-align: center;">
                    DISCOVER es un workshop Intensivo de 4 días, diseñado para coaches profesionales practicantes que
                    se sientan llamados a servir como entrenadores y facilitadores de aprendizaje de emprendedores y
                    líderes de innovación. Los participantes conocen las bases profundas en que se funda la práctica
                    y podrán desarrollar competencias para iniciarse con efectividad y fluidez en la práctica de coaching
                    para el emprendimiento y la innovación con clientes reales.
                </h3>
                <br><br>

            </div>
            <div class="col-12" align="center">

                <a class="redbotton" href="programacion.html" role="button" style="background-color: #0099cc; padding: 20px 44px;"><span>APLICAR</span></a>
            </div>

        </div>
    </div>
    
    <div class="col-12">
        <img src="../img/Slider-StartcoachingDiscoverv2.png" alt="" width="100%">
        
        
    </div>
    <div class="col-12">
            <h2 style="text-align: center; font-family: myFirstFont;padding-top: 5%;">EL ENFOQUE DE APRENDIZAJE




            </h2>
        <br><br>
        <div class="col-12" align="center" >
            <h4 style=" font-family: myFirstFont; text-align: center;">
                El enfoque de aprendizaje de este workshop es el de un <b>BootCamp </b>. En él los participantes aprenderán
                mucho en poco tiempo, porque están completamente inmersos en experiencias de emprendimiento, para
                que esta pueda ser una expresión natural de su ser y de sus conversaciones. <br>
                Al rodearse de colegas, formando equipos de trabajo y dedicados a resolver los retos y desafíos que
                la dinámica plantea, se ven obligados durante 4 días, a alejarse de las distracciones y a acelerar
                el proceso de aprendizaje de forma inimaginable.

            </h4>
            <br><br>

        </div>


    <div class="queAprenderas">
        <div class="row">

            <div class="col-12" style="text-align: center; padding-bottom: 4%; padding-top: 7%">
                <h2 style=""> <b>PRINCIPIOS

                </b> </h2>

            </div>
            <div class="row" style="padding-bottom: 5%;">

            <div class="col-2 " align="center"><img src="../img/p1.png" width="50%" > </img></div>
            <div class="col-10" style="padding-right: 6%;">

                <h4 style="text-align: justify; font-family: myFirstFont;"><b>Modalidad de BootCamp
                </b>
                    <br>
                    Lo que distingue a un bootcamp de otros formatos es su carácter intensivo y de inmersión total en el aprendizaje  y en la resolución de problemas reales en el contexto del emprendimiento y la innovación. El papel de los coaches y facilitadores en un bootcamp es decisivo para su éxito.
                </h4>

            </div>

        </div>
            <div class="row" style="padding-bottom: 5%;">

                <div class="col-2 " align="center"><img src="../img/p2.png" width="50%" > </img></div>
                <div class="col-10" style="padding-right: 6%;">

                    <h4 style="text-align: justify; font-family: myFirstFont;"><b>Aprendizaje activo
                    </b>
                        <br>
                        El aprendiz es el centro del proceso de aprendizaje. Cada participante parte de su propia experiencia y desde allí se inicia su proceso. Los participantes recorren el camino, en el que luego ellos acompañarán a sus aprendices.
                    </h4>

                </div>

            </div>
            <div class="row" style="padding-bottom: 5%;">

                <div class="col-2 " align="center"><img src="../img/p3.png" width="50%" > </img></div>
                <div class="col-10" style="padding-right: 6%;">

                    <h4 style="text-align: justify; font-family: myFirstFont;"><b>La metáfora del viaje
                    </b>
                        <br>
                        Diseñamos el proceso de aprendizaje como un viaje de descubrimiento y transformación personal. Como todo viaje, tendremos un puerto de embarque y estaciones con cosas que descubrir. En cada estación tendremos desafíos que nos llevarán a procesos de descubrimiento. Habrán descubrimientos en el mundo externo, pero también tendremos que descubrir cosas en nuestro mundo interno.

                    </h4>

                </div>

            </div>
            <div class="row" style="padding-bottom: 5%;">

                <div class="col-2 " align="center"><img src="../img/p4.png" width="50%" > </img></div>
                <div class="col-10" style="padding-right: 6%;">

                    <h4 style="text-align: justify; font-family: myFirstFont;"><b>El simulador

                    </b>
                        <br>
                        Nuestro programa no tiene “tareas para la casa” ni entregas de trabajos escritos… sino que se basa en desafíos. El desafío principal de este workshop lo realizaremos mediante una experiencia simulada de dos días y medio, donde reproduciremos las vivencias reales de un equipo emprendedor mientras intenta iniciar una nueva empresas basada en la innovación.
                    </h4>

                </div>

            </div>
            <div class="row" style="padding-bottom: 5%;">

                <div class="col-2 " align="center"><img src="../img/p5.png" width="50%"> </img></div>
                <div class="col-10" style="padding-right: 6%;">

                    <h4 style="text-align: justify; font-family: myFirstFont;"><b>Espacio virtual de aprendizaje

                    </b>
                        <br>
                        Todas las clases del programas estarán disponibles en el espacio virtual y estarán disponibles para verlas en cualquier lugar, en cualquier momento y las veces que quieras.



                    </h4>

                </div>

            </div>


      </div>
    </div>
    <div style="background-color: #e8eff5; width: 100%">
        <div class="Facilitadores">
            <div class="row">
                <div class="col-12 col-lg-6" align="center">

                    <img src="../img/team.png" width="100%">

                </div>
                <div class="col-12 col-lg-6">
                    <br><br>


                    <h3 class="what"align="center">
                        Entre los líderes académicos de la Escuela se encuentran pioneros en la práctica del coaching ontológico en Venezuela.
                        <br> <br>
                        Nuestros coaches master acumulan más de 30 mil horas de coaching y otras miles de entrenamiento a nuevos coaches y coaches
                        supervisores en  América Latina.
                        <br><br>
                        Ellos son: Esteban Reyes, María Milagros Verde, Raixa Rivero y Harry López.

                    </h3>
                </div>






            </div>
        </div>
    </div>


            <div class="row">
                <div class="col-12" align="center" style="padding-bottom: 5%; padding-top: 5%;">

                        <h2 style="font-family: myFirstFont;" > ¿QUÉ APRENDERÁS?</h2>

                </div>

                    <div class="col-12" style="padding-left: 10%; padding-right: 5%" >

                            <ul style="text-align: justify; font-family: myFirstFont;font-size: 20px;">
                                <li>El poder de los  <b>contextos</b> y de las <b>narrativas </b>en la configuración de los mundo o ecosistemas de emprendimiento y la innovación.</li>
                                <li>Distinguir el emprendimiento y la innovación como <b>dominios conversacionales</b>a través de los cuales se crean empresas y se inventan nuevos mundos</li>
                                <li>Distinguir <b>quiebres, estados de ánimo  y creencias</b> que suelen limitar y condicionar el desempeño de los emprendedores y líderes de innovación.
                                </li>
                                <li>Comprender  <b>cómo piensan los emprendedores </b> y cómo trabajan en <b> entornos de alta incertidumbre.</b>

                                </li>
                                <li> <b>Métodos </b>y las <b>herramientas visuales </b>que usan los emprendedores en todo el mundo, para crear y compartir sus ideas, visiones y modelos de los negocios que se proponen crear.
                                </li>
                                <li> Una visión <b>ética de las empresas </b>, que las visualiza como una fuerza positiva para la solución de los grandes desafíos que enfrenta la comunidad global.
                                </li>
                                <li> Cómo los emprendedores innovadores <b>escuchan a sus clientes </b>, crean experimentos y validan sus hipótesis de un negocio.
                                </li>
                                <li> Cómo las <b>organizaciones pueden diseñar y desarrollar una cultura </b>con nuevas prácticas, habilidades y mentalidad de innovación.</li>
                            </ul>

                </div>

        </div>
        </div>



    </div>



    <div class="Contenido">

                <div class="row contenido">

                    <div class="col-12">
                        <div align="center" style="position: absolute;
                                                margin-left: 40%;
    top: -25px;">
                            <h1 class="what"align="center" style="padding: 10%; background-color:#dc3545; color: white; top: -16px; width:212px;">CONTENIDO
                            </h1>
                        </div>
                    </div>
                </div>
        <div style="width: 10px;height: 30px; background-color: #0e90d2;    position: relative;
    top: 86px;
    margin-left: 50%;"></div>


                    <div  class="col-12">
                    <div class="row contenedor" style="margin-top:70px; width: 100%; " >

                        <div class="fondoblanco" style="margin: 5%; width: 100% ">
                            <div class="row">
                                    <div class="col-12" align="center" style="padding-bottom: 10%;">
                                            <h3><b>DÍA 1:</b><br>
                                                INTRODUCCIÓN GENERAL AL COACHING DE EMPRENDIMIENTO
                                                E INNOVACIÓN.


                                            </h3>


                                    </div>

                                <div class="col-4" align="center">

                                <h4>MAÑANA</h4>

                            </div>
                                <div class="col-7" style="padding-bottom: 2%">
                                    <h4>
                                        CONTEXTO GENERAL LA PRÁCTICA DE COACHING PARA EL EMPRENDIMIENTO Y LA INNOVACIÓN

                                    </h4>

                                </div>

                                <div class="col-4" align="center">


                                </div>
                                <div class="col-7" style="padding-bottom: 2%">
                                    <h4>
                                        <ul style="text-align: justify; font-family: myFirstFont;font-size: 23px;">
                                            <li>Comprender los contextos y narrativas globales que impulsan el emprendimiento en escala mundial.</li>
                                            <li>La revolución digital y el cambio disruptivo de la sociedad abre el espacio de innovación a escala masiva.
                                        </li>
                                            <li>La explosión del potencial humano y de las múltiples facetas que esta toma para liberar los talentos de las personas.</li>
                                            <li>Los negocios como una fuerza positiva de transformación social. </li>

                                        </ul>

                                    </h4>

                                </div>

                                <div class="col-4" align="center">

                                    <h4>TARDE</h4>

                                </div>
                                <div class="col-7" style="padding-bottom: 2%">
                                    <h4>
                                        HACIA UNA ONTOLOGÍA DE LA ACCIÓN EMPRENDEDORA
                                    </h4>

                                </div>

                                <div class="col-4" align="center">


                                </div>
                                <div class="col-7" style="padding-bottom: 2%">
                                    <h4>
                                        <ul style="text-align: justify; font-family: myFirstFont;font-size: 23px;">
                                            <li>Enmarcar el emprendimiento como una expresión natural del ser humano.</li>
                                            <li>Ontología del ser emprendedor.
                                            </li>
                                            <li>El emprendimiento como un dominio de conversaciones. </li>
                                            <li>El dominio lingüístico del emprendedor y las conversaciones claves que él debe manejar.  </li>
                                            <li>El modelo ontológico de la acción emprendedora. </li>
                                            <li>Los condicionantes de la acción emprendedora. </li>
                                            <li>En qué consiste la práctica de coaching para el emprendimiento y la innovación </li>
                                        </ul>

                                    </h4>

                                </div>



                            </div>

                        </div>
                </div>

            </div>

                    <div style="width: 10px;height: 50px; background-color: #0e90d2;    position: relative;
    top: 38px;
    margin-left: 50%;"></div>

                    <div  class="col-12">
                    <div class="row contenedor" style="margin-top:70px; font-family: myFirstFont; width: 100%;">

                        <div class="fondoblanco" style="margin: 5%; width: 100%">
                            <div class="row">
                                <div class="col-12" align="center" style="padding-bottom: 5%;">
                                    <h3><b>DÍA 2: </b><br>
                                        BASES METODOLÓGICAS DE LA PRÁCTICA DE COACHING



                                    </h3>


                                </div>

                                <div class="col-4" align="center">

                                    <h4>MAÑANA</h4>

                                </div>
                                <div class="col-7" style="padding-bottom: 2%">
                                    <h4>
                                        UN LENGUAJE PARA EMPRENDER
                                    </h4>

                                </div>

                                <div class="col-4" align="center">


                                </div>
                                <div class="col-7" style="padding-bottom: 2%">
                                    <h4>
                                        <ul style="text-align: justify; font-family: myFirstFont;font-size: 23px;">
                                            <li>Introducción al espacio de distinciones del emprendedor.</li>
                                            <li>El problema de distinguir en qué negocio estoy.
                                            </li>
                                            <li>El modelo de negocios como un lenguaje general para comenzar el diseño de una empresa.</li>

                                            <li>El problema de la gestión de la innovación. </li>
                                            <li>Ontología del método general para la gestión de la innovación. </li>

                                        </ul>

                                    </h4>

                                </div>

                                <div class="col-4" align="center">

                                    <h4>TARDE</h4>

                                </div>
                                <div class="col-7" style="padding-bottom: 2%">
                                    <h4>
                                        INICIO DEL SIMULADOR
                                    </h4>

                                </div>

                                <div class="col-4" align="center">


                                </div>
                                <div class="col-7" style="padding-bottom: 2%">
                                    <h4>
                                        <ul style="text-align: justify; font-family: myFirstFont;font-size: 23px;">
                                            <li>La conformación de los equipos de innovación.</li>
                                            <li>La formación de equipos fundadores.
                                            </li>
                                            <li>Enfoque sistémico de la fundación de una empresa.</li>
                                            <li>Presentación del desafío.  </li>
                                            <li>El coaching como un espacio de posibilidades para la innovación en el mundo educativo. </li>
                                            <li>Competencia de pitch entre los participantes.  </li>
                                            <li>Dinámicas para la formación de equipos de innovación.	 </li>
                                        </ul>

                                    </h4>

                                </div>



                            </div>


                          </div>
                        </div>
                    </div>




                    <div class="col-12">
                        <div style="width: 10px;height: 50px; background-color: #0e90d2;    position: relative;
                            top: 38px;
                            margin-left: 50%;"></div>
                    </div>

                    <div  class="col-12">
                        <div class="row contenedor" style="margin-top:70px; font-family: myFirstFont;width: 100%;">

                            <div class="fondoblanco" style="margin: 5%; width: 100%">


                                <div class="row">
                                    <div class="col-12" align="center" style="padding-bottom: 10%;">
                                        <h3><b>DÍA 3:  </b><br>
                                            APRENDIENDO LA PRÁCTICA DE EMPRENDIMIENTO E INNOVACIÓN.



                                        </h3>


                                    </div>

                                    <div class="col-4" align="center">

                                        <h4>MAÑANA</h4>

                                    </div>
                                    <div class="col-7" style="padding-bottom: 2%">
                                        <h4>
                                            DESCUBRIENDO  EL PROBLEMA QUE QUIERO RESOLVER
                                        </h4>

                                    </div>

                                    <div class="col-4" align="center">


                                    </div>
                                    <div class="col-7" style="padding-bottom: 2%">
                                        <h4>
                                            <ul style="text-align: justify; font-family: myFirstFont;font-size: 23px;">
                                                <li>El descubrimiento del cliente. </li>
                                                <li>Métodos, lienzos y herramientas para descubrir el problema desde la perspectiva del cliente.
                                                </li>
                                                <li>Aplicación práctica del método Lean Startup al problema del cliente. </li>


                                            </ul>

                                        </h4>

                                    </div>

                                    <div class="col-4" align="center">

                                        <h4>TARDE</h4>

                                    </div>
                                    <div class="col-7" style="padding-bottom: 2%">
                                        <h4>
                                            MODELANDO EL NEGOCIO

                                        </h4>

                                    </div>

                                    <div class="col-4" align="center">


                                    </div>
                                    <div class="col-7" style="padding-bottom: 2%">
                                        <h4>
                                            <ul style="text-align: justify; font-family: myFirstFont;font-size: 23px;">
                                                <li>Hipótesis de problema. </li>
                                                <li>Diseño del experimento de validación.
                                                </li>
                                                <li>Saliendo a la calle a ejecutar el experimento con el cliente.</li>
                                                <li>Aprendizaje alcanzado.  </li>

                                            </ul>

                                        </h4>

                                    </div>



                                </div>


                            </div>
                        </div>
                    </div>


                    <div class="col-12">
                        <div style="width: 10px;height: 50px; background-color: #0e90d2;    position: relative;
                            top: 38px;
                            margin-left: 50%;"></div>
                    </div>

                    <div  class="col-12">
                        <div class="row contenedor" style="margin-top:70px; font-family: myFirstFont;width: 100%;">


                            <div class="fondoblanco" style="margin: 5%; width: 100%">

                                <div class="row">
                                    <div class="col-12" align="center" style="padding-bottom: 10%;">
                                        <h3><b>DÍA 4:
                                        </b><br>
                                            INTRODUCCIÓN GENERAL AL COACHING DE EMPRENDIMIENTO
                                            E INNOVACIÓN.

                                        </h3>


                                    </div>

                                    <div class="col-4" align="center">

                                        <h4>MAÑANA</h4>

                                    </div>
                                    <div class="col-7" style="padding-bottom: 2%">
                                        <h4>
                                            CREANDO UNA PROPUESTA DE VALOR INNOVADORA
                                        </h4>

                                    </div>

                                    <div class="col-4" align="center">


                                    </div>
                                    <div class="col-7" style="padding-bottom: 2%">
                                        <h4>
                                            <ul style="text-align: justify; font-family: myFirstFont;font-size: 23px;">
                                                <li>Innovación de la propuesta de valor.</li>
                                                <li>Métodos y lienzos para la innovación de la propuesta de valor.
                                                </li>
                                                <li>Aplicación del método de Lean Startup a la innovación de la propuesta de valor.</li>

                                                <li>Establecer las principales hipótesis de valor.</li>
                                                <li>Diseñar experimentos de validación de las hipótesis. </li>
                                                <li>Ejecutar el experimento para validar.</li>
                                                <li>Aprendizajes alcanzados.</li>

                                            </ul>

                                        </h4>

                                    </div>

                                    <div class="col-4" align="center">

                                        <h4>TARDE</h4>

                                    </div>
                                    <div class="col-7" style="padding-bottom: 2%">
                                        <h4>
                                            PREPARACIÓN Y PRESENTACIÓN DEL PITCH DEL PROYECTO
                                        </h4>

                                    </div>

                                    <div class="col-4" align="center">


                                    </div>
                                    <div class="col-7" style="padding-bottom: 2%">
                                        <h4>
                                            <ul style="text-align: justify; font-family: myFirstFont;font-size: 23px;">
                                                <li>Cómo diseñar una presentación WOW para inversionistas.</li>
                                                <li>Diseño de la presentación.
                                                </li>
                                                <li>Practicar la presentación.</li>
                                                <li>Presentación ante un jurado.  </li>
                                                <li>Evaluación y selección de los mejores proyectos. </li>
                                                <li>Reflexión de los aprendido y cierre. </li>
                                                <li>Próximos pasos.
                                                </li>
                                            </ul>

                                        </h4>

                                    </div>



                                </div>
                            </div>


                            </div>
                        </div>


                <br><br><br>
                <div class="col-12" align="center" style="padding: 10%;">


                    <a class="redbotton" href="programacion.html" role="button" style="    padding: 22px 72px; "><span>APLICAR</span></a>
                </div>

                    </div>


                    </div>

        </div>
</div>

    </div>






<div style="background-color: #0099cc;">
    <div class="row social">


        <div class="col-lg-4 col-12" align="center">
            <h5>Aceledarado Por:</h5>
            <img src="../img/LogoAccedeNegativo.png" alt="accede" width="30%">


        </div>
        <div class="col-lg-4 col-12">
            <div class="row">
                <div class="col-12">
                    <h4 align="center">SIGUE CON NOSOTROS:
                    </h4>

                </div>
                <div class="col" align="center">
                    <a href="https://www.facebook.com/StartCoachingLA/" class="fa fa-facebook"></a>
                </div>
                <div class="col" align="center">
                    <a href="https://twitter.com/StartCoachingLA" class="fa fa-twitter"></a>
                </div>
                <div class="col" align="center">
                    <a href="https://www.youtube.com/channel/UClMcCLlkAHN7UgW7jpnGW5g" class="fa fa-instagram"></a>
                </div>
                <div class="col" align="center">
                    <a href="https://www.linkedin.com/company/startcoachingla/" class="fa fa-linkedin"></a>
                </div>
                <div class="col" align="center">
                    <a href="https://www.youtube.com/channel/UClMcCLlkAHN7UgW7jpnGW5g" class="fa fa-youtube"></a>
                </div>

            </div>

        </div>
        <div class="col-lg-4 col-12" align="center">
            <img src="../img/StartCoaching.png" width="80%" style="margin-top: 10px;">

        </div>
    </div>

</div>
</body>


</html>