<!DOCTYPE html>
<html lang="es" >
<head>
    <link rel="icon" type="image/png" href="../img/favicon.ico">

    <link rel="stylesheet" id="googlefonts_heading-css" href="http://fonts.googleapis.com/css?family=Roboto%3A300%2C400%2C400italic%2C700&amp;ver=3.8.1" type="text/css" media="all">
    <link href='http://fonts.googleapis.com/css?family=Roboto:400,300,700,700italic&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="../style/main.css">
    <meta  charset="utf-8">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <script src="scripts/main.js"></script>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js" integrity="sha384-b/U6ypiBEHpOf/4+1nzFpr53nxSS+GLCkfwBdFNTxtclqqenISfwAzpKaMNFNmj4" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/js/bootstrap.min.js" integrity="sha384-h0AbiXch4ZDo7tp9hKZ4TsHbi047NrKGLO3SEJAg45jXxnGIfYzk4Si90RDIqNm1" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M" crossorigin="anonymous">
    <title>ACADEMIA N

    </title>
</head>
<body >
<div class="container-fluid">
    <nav class="navbar navbar-expand-lg navbar-light bg-light" >
        <div class="row" style="width: 100%">
            <div class="col-5">
                <a class="navbar-brand logo" href="../index.html" >
                    <div align="left">
                        <img src="../img/logo-startcoaching_positivo.png" width="50%" >
                    </div>
                </a>

            </div>
            <div  class="col-7" align="right" style="margin-top: 17px;">
                <ul class="nav justify-content-end">
                    <li class="nav-item ">
                        <div class="dropdown">
                            <button class="dropbtn">APRENDER</button>
                            <div class="dropdown-content" align="center">
                                <a href="programa.html">DISCOVER</a>
                                <a href="programa2.html">GEN5</a>
                                <a href="programa4.html">PRACTITIONER</a>
                            </div>
                        </div>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="libro.html">LIBRO  </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="http://startcoachingla.blogspot.com/">BLOG</a>
                    </li>
                    <li class="nav-item">
                        <a class="redbotton" href="programacion.html" role="button"><span>APLICAR</span></a>
                    </li>
                </ul>
            </div>

        </div>

    </nav>

    <div class="producto3">
            <div class="row">
                <div class="col-3" align="center" style="padding-top: 5%;">

                    <a href=" programa.html"  >
                        <img src="../img/left-angle-bracket.svg" width="40px" >

                    </a>

                </div>
                <div class="col-6" align="center">

                    <img src="../img/logo_academia_n.png" width="80%" style="padding-top: 3%;">


                </div>
                <div class="col-3"style="padding-top: 5%;" align="center">

                    <a href="programa4.html">
                        <img src="../img/scroll-arrow-to-right.svg" width="40px">

                    </a>

                </div>

            </div>

    </div>

<div class="Contenido_gen"  style="padding-right: 5%; padding-left: 5%;">
      <h1 align="center">  EL PROGRAMA</h1>
      <br>
      <h4 align="center">
                  Programa dirigido a emprendedores que buscan convertir sus ideas o proyectos en
                   verdaderos éxitos comerciales. Es un programa para personas creativas e innovadoras que
                   quieran desplegar en el mundo ideas grandes.  <br><br>

            ACADEMIA N es un programa de 6 MODULOS  diseñado para que los coaches  acompañen al emprendedor
            en la fase inicial de su proyecto y conviertan los problemas y situaciones que enfrentan día a día,
             en su campo de entrenamiento y aprendizaje  acelerado (BootCamp).
          <br><br>


          </h4>


</div>

<div class="Contenido_gen" style="padding-right: 5%; padding-left: 5%;">
      <h1 align="center">  PROPÓSITO</h1>
      <br>
      <h4 >
                  Con Academia N queremos abrir para los emprendedores el camino de la innovación,
                  creando nuevos productos, traspasando los límites de los mercados actuales y haciendo
                   que su competencia sea irrelevante.
                      <br><br>
          </h4>
          <h1 align="center">  ¿QUÉ APRENDERÁS?</h1>
          <br>
          <h4 >
                      Con Academia N queremos abrir para los emprendedores el camino de la innovación,
                      creando nuevos productos, traspasando los límites de los mercados actuales y haciendo
                       que su competencia sea irrelevante.
                          <br><br>
              </h4>
              <div class="row">
                <div class="col-1">
                  <div class="rojo">


                  </div>
                  <div class="blanco">

                  </div>

                </div>
                <div class="col-11">
                  <h4 style="text-align: justify;">Comprenderás  son las  empresas guiadas por el propósito las que  sobresalen
                     de la competencia. El propósito es  fundamental para cautivar a los clientes, atraer
                      el mejor talento y construir una identidad poderosa en el mercado.
                      <br><br>
                      </h4>

                </div>
                <div class="col-1">
                  <div class="rojo">


                  </div>
                  <div class="blanco">

                  </div>

                </div>
                <div class="col-11">
                  <h4 style="text-align: justify;">Aprenderás que el emprendimiento es un dominio conversacional.
                     Emprender no tiene que ver con conocer modelos o teorías sobre emprendimiento,
                      sino más bien con  dominar el lenguaje y las conversaciones claves del mundo de
                      los negocios.
                        <br><br>
                      </h4>

                </div>
                <div class="col-1">
                  <div class="rojo">


                  </div>
                  <div class="blanco">

                  </div>

                </div>
                <div class="col-11">
                  <h4 style="text-align: justify;">Aprenderás a escuchar a los clientes,  validar sus contextos,
                     conocer sus problemas y ser sensible a sus emociones, para desde desarrollar
                      una oferta de valor más innovadora y  productos y servicios extraordinarios.
                        <br><br>
                      </h4>

                </div>
              </div>




</div>



<div class="Contenido_gen" >
      <h1 align="center">  CONTENIDO DEL PROGRAMA</h1>
      <br>
      <h4>
        Academia N impulsará tu proyecto emprendedor, desde el camino que implica lograr
         una conexión profunda con tus talentos y propósitos de transformación,  hasta la
         presentación de tu producto mínimo viable y modelo de negocio a posibles inversionistas y aliados.
  <br><br>
              </h4>
              <h4 align="justify" style="padding-left: 10%;">
          <b>DESAFIO 1:</b> Empresas con propósito
          <br><br>
          <b>DESAFIO 2:</b> El Emprendimiento como un dominio conversacional

          <br><br>
          <b>DESAFIO 3:</b>  Poniendo el foco en un Problema que valga la pena resolver
          <br><br>
          <b>DESAFIO 4:</b>  Innovando en la Propuesta de Valor
          <br><br>
          <b>DESAFIO 5:</b>  Innovando en el Modelo de Negocios

          <br><br>
          <b>DESAFIO 6:</b>  Creando una presentación WOW que cautive clientes e inversionistas.

          <br><br>



</h4>



</div>

    <div class="ElementosDiferenciadores">
        <div class="row">
            <div class="col-12" align="center">

                <h2><b>ELEMENTOS DIFERENCIADORES</b></h2>
                <br><br>

            </div>
            <div class="col-3">
                <h3 >
                    <b>METODOLOGÍA <br>INNOVADORA</b>
                    <br>
                </h3>
                <img src="../img/an1.png" alt="" width="70%">
                <br>
                <h4 >
                    Basada en desafíos que aplicarás en
                    tu proyecto de emprendimiento



                </h4>


            </div>
            <div class="col-3">

                <h3 >
                    <br>
                    <b>COACHING</b>
                    <br>
                </h3>
                <img src="../img/a2.png" alt="" width="73%"style="
    padding-top: 7%;
    padding-bottom: 6%;
">
                <br>
                <h4 >
                    Podrás optar por crear tu propia Academia N,
                    donde tendrás  herramientas para captar clientes y brindar servicios
                    a través de internet.



                </h4>


            </div>
            <div class="col-3">
                <h3 >
                    <b>DISEÑADO POR
                        EMPRENDEDORES
                    </b>
                    <br>
                </h3>
                <img src="../img/an3.png" alt=""width="72%">
                <br>
                <h4 >
                    Serás parte de una comunidad que desarrolla
                    experiencias de aprendizaje y redes de clientes <br> y aliados.



                </h4>


            </div>
            <div class="col-3">
                <h3 >
                    <br>
                    <b>COMUNIDAD</b>
                    <br>
                </h3>
                <img src="../img/an4.png" alt="" width="75%">
                <br>
                <h4 >
                    Nuestro diseño incluye mejores prácticas  de supervisión,
                    feedback y certificación de competencias.



                </h4>


            </div>

        </div>

    </div>


        <br><br><br>
    <div  style=" background-color: #f2f2f2;">
        <div class="ResumenAplica">

            <div class="row">

                <div class="col-12" align="center">

                    <h2><b>RESUMEN DEL PROGRAMA</b></h2>
                    <br><br>

                </div>
                <div class="col-4" style="padding-bottom: 5%;">
                    <div class="row">
                        <div class="col-2">
                            <i style="font-size:48px; padding: 0px;text-align: justify; margin: 0px 0px;background:  transparent;color: black; " class="fa">&#xf017;</i>

                        </div>
                        <div class="col-10">
                            <br>
                            <h3> <b>¿Cuánto dura?</b></h3>

                        </div>


                        <div class="col-12">
                            <h4>Tiene una duración de <b>280 horas.</b></h4>
                        </div>
                    </div>
                </div>
                <div class="col-4">

                    <div class="row">
                        <div class="col-2">
                            <i class="fa fa-money" style="font-size:48px; padding: 0px;text-align: justify; margin: 0px 0px;background:  transparent;color: black; "></i>

                        </div>
                        <div class="col-10">
                            <br>
                            <h3> <b>¿Cuánto cuesta?</b></h3>

                        </div>


                        <div class="col-12">
                            <h4>Consúltalo al aplicar</h4>
                        </div>
                    </div>







                </div>
                <div class="col-4">
                    <div class="row">
                        <div class="col-2">
                            <i class="fa"style="font-size:48px; padding: 0px;text-align: justify; margin: 0px 0px;background:  transparent;color: black; ">&#xf006;</i>

                        </div>
                        <div class="col-10">
                            <br>
                            <h3> <b>Becas disponibles</b></h3>

                        </div>


                        <div class="col-12">
                            <h4>Movimiento Club de Emprendedores: <br><b>25% de descuento directo</b>
                            </h4>
                        </div>
                    </div>


                </div>
                <div class="col-4">
                    <div class="row">
                        <div class="col-2">
                            <i style="font-size:48px; padding: 0px;text-align: justify;margin: 0px 0px;background:  transparent;color: black; " class="fa">&#xf073;</i>

                        </div>
                        <div class="col-10">
                            <br>
                            <h3> <b>¿Cuándo empieza?</b></h3>

                        </div>


                        <div class="col-12">
                            <h4>Consulta el calendario por país.
                            </h4>
                        </div>
                    </div>


                </div>
                <div class="col-4">
                    <div class="row">
                        <div class="col-2">
                            <i style="font-size:48px; padding: 0px;text-align: justify;margin: 0px 0px; background:  transparent;color: black; " class="fa">&#xf09d;</i>

                        </div>
                        <div class="col-10">
                            <br>
                            <h3> <b>¡Fináncialo!</b></h3>

                        </div>


                        <div class="col-12">
                            <h4>En cuotas mensuales sin intereses.

                            </h4>
                        </div>
                    </div>


                </div>
                <div class="col-4"  align="center">

                    <br>
                    <a class="redbotton" href="programacion.html" role="button" style="padding: 5%; "><span>  ¡APLICA AHORA!</span></a>


                </div>

            </div>
        </div>

    </div>





</div>



</div>


                    <div style="background-color: #0099cc;">
                        <div class="row social">


                            <div class="col-lg-4 col-12" align="center">
                                <h5>Aceledarado Por:</h5>
                                <img src="../img/LogoAccedeNegativo.png" alt="accede" width="30%">


                            </div>
                            <div class="col-lg-4 col-12">
                                <div class="row">
                                    <div class="col-12">
                                        <h4 align="center">SIGUE CON NOSOTROS:
                                        </h4>

                                    </div>
                                    <div class="col" align="center">
                                        <a href="https://www.facebook.com/StartCoachingLA/" class="fa fa-facebook"></a>
                                    </div>
                                    <div class="col" align="center">
                                        <a href="https://twitter.com/StartCoachingLA" class="fa fa-twitter"></a>
                                    </div>
                                    <div class="col" align="center">
                                        <a href="https://www.youtube.com/channel/UClMcCLlkAHN7UgW7jpnGW5g" class="fa fa-instagram"></a>
                                    </div>
                                    <div class="col" align="center">
                                        <a href="https://www.linkedin.com/company/startcoachingla/" class="fa fa-linkedin"></a>
                                    </div>
                                    <div class="col" align="center">
                                        <a href="https://www.youtube.com/channel/UClMcCLlkAHN7UgW7jpnGW5g" class="fa fa-youtube"></a>
                                    </div>

                                </div>

                            </div>
                            <div class="col-lg-4 col-12" align="center">
                                <img src="../img/StartCoaching.png" width="80%" style="margin-top: 10px;">

                            </div>
                        </div>

                    </div>

</body>


</html>
