<!DOCTYPE html>
<html lang="es" >
<head>
    <link rel="icon" type="image/png" href="../img/favicon.ico">
    <link rel="stylesheet" id="googlefonts_heading-css" href="http://fonts.googleapis.com/css?family=Roboto%3A300%2C400%2C400italic%2C700&amp;ver=3.8.1" type="text/css" media="all">
    <link href='http://fonts.googleapis.com/css?family=Roboto:400,300,700,700italic&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="../style/main.css">
    <meta  charset="utf-8">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <script src="scripts/main.js"></script>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js" integrity="sha384-b/U6ypiBEHpOf/4+1nzFpr53nxSS+GLCkfwBdFNTxtclqqenISfwAzpKaMNFNmj4" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/js/bootstrap.min.js" integrity="sha384-h0AbiXch4ZDo7tp9hKZ4TsHbi047NrKGLO3SEJAg45jXxnGIfYzk4Si90RDIqNm1" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M" crossorigin="anonymous">
    <title>GEN5
    </title>
</head>
<body >
<div class="container-fluid">
    <nav class="navbar navbar-expand-lg navbar-light bg-light"  style="  justify-content: flex-end;">

        <a class="navbar-brand logo" href="#" >
            <div>
                <img src="img/logo.png" width="45px" height="30px">
            </div>
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <ul class="nav justify-content-end">
            <li class="nav-item ">
                <div class="dropdown">
                    <button class="dropbtn">PROGRAMAS</button>
                    <div class="dropdown-content">
                        <a href="view/programa2.html">GEN5</a>
                        <a href="view/programa.html">DISCOVER</a>

                    </div>
                </div>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">LIBRO  </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">BLOG</a>
            </li>
            <li class="nav-item">
                <a class="redbotton" href="view/programa2.html" role="button"><span>APLICAR</span></a>
            </li>
        </ul>



    </nav>

    <div class="producto2">
            <div class="row">
                <div class="col-3" align="center" style="padding-top: 15%;">

                    <a href=" programa.html"  >
                        <img src="../img/left-angle-bracket.svg" width="40px" >

                    </a>

                </div>
                <div class="col-6" align="center">

                    <img src="../img/start3.png" width="100%">

                        <h3 style="text-align: center; font-family: myFirstFont; color: white;">Programa de certificación de competencias en Coaching de Emprendimiento e Innovación
                        </h3>

                </div>
                <div class="col-3"style="padding-top: 15%;" align="center">

                    <a href="programa.html">
                        <img src="../img/scroll-arrow-to-right.svg" width="40px">

                    </a>

                </div>

            </div>

    </div>

            <div class="queAprenderas">
            <div class="col-12">
                <h2 style="text-align: center; font-family: myFirstFont;">EL PROGRAMA

                </h2>
                <br><br>
                <div class="col-12" align="center" >
                    <h4 style=" font-family: myFirstFont; text-align: center;">GEN es un programa de 10 meses, diseñado para personas que se sientan llamados a servir como entrenadores y facilitadores de aprendizaje de emprendedores y líderes de innovación. Los participantes podrán desarrollar competencias para iniciarse con efectividad y fluidez en la práctica de coaching para el emprendimiento y la innovación.

                    </h4>


                </div>
                <div class="col-12" align="center">

                    <a class="redbotton" href="#" role="button"><span>APLICAR</span></a>
                </div>

            </div>
        </div>
    <div class="queAprenderas">
        <div class="row">
            <div class="col-12">
                <h2 style="text-align: center; font-family: myFirstFont;">PERFIL DE UN COACH DE E & I
    
    
                </h2>
                <br><br>
               
    
            </div>
            <div class="col-3" align="center">
                <img src="../img/enfoq1.png" >
                <h4 style="text-align: center; font-family: myFirstFont;">
                    Ayuda a que los emprendedores
                    se conecten con su propósito y talentos y derrumben  los juicios,
                    creencias y estados de ánimo que los limitan


                </h4>

            </div>
            <div class="col-3" align="center">
                <img src="../img/enfoq2.png" >
                <h4 style="text-align: center; font-family: myFirstFont;">
                    Desarrolla experiencias de aprendizaje para incrementar el poder
                    de los emprendedores para gestionar su emprendimiento


                </h4>

            </div>
            <div class="col-3" align="center">
                <img src="../img/enfoq3.png" >
                <h4 style="text-align: center; font-family: myFirstFont;">
                    Inspira a las comunidades a conectarse con las narrativas del mundo
                    que abren más posibilidades para un emprendimiento más ético e innovador.



                </h4>

            </div>
            <div class="col-3" align="center">
                <img src="../img/enfoq4.png" >
                <h4 style="text-align: center; font-family: myFirstFont;">
                    Diseña y crea ecosistemas abiertos para el florecimiento de la innovación


                </h4>

            </div>

            <div class="col-12" style="text-align: center; padding-bottom: 4%; padding-top: 7%">
                <h2 style=""> <b>ENFOQUES DE APRENDIZAJE
                </b> </h2>

            </div>
            <div class="row">
                <div class="col-3 col-md-1 "><img src="img/pilar1.png" width="80%" align="right"> </img></div>
                <div class="col-12 col-sm-6 col-md-11" "><h4 style="text-align: justify; font-family: myFirstFont;"><b>Aprendizaje activo
            </b>
                <br>
                El aprendiz es el centro del proceso de aprendizaje. Cada participante parte de su propia experiencia y desde allí se inicia su proceso. Los participantes recorren el camino, en el que luego ellos acompañarán a sus aprendices.

            </div>

            <div class="col-3 col-md-1 "><img src="img/pilar2.png" width="80%" align="right"> </img></div>
            <div class="col-12 col-sm-6 col-md-11" "><h4 style="text-align: justify; font-family: myFirstFont;"><b>La metáfora del viaje

        </b>
            <br>
            Diseñamos el proceso de aprendizaje como un viaje de descubrimiento y transformación personal. Como todo viaje, tendremos un puerto de embarque y estaciones con cosas que descubrir. En cada estación tendremos desafíos que nos llevarán a procesos de descubrimiento. Habrán descubrimientos en el mundo externo, pero también tendremos que descubrir cosas en nuestro mundo interno.


        </h4></div>

        <div class="col-3 col-md-1"><img src="img/pilar3.png" width="80%" align="right"> </img></div>
        <div class="col-12 col-sm-6 col-md-11"><h4 style="text-align: justify; font-family: myFirstFont;"><b>Los desafíos
        </b>
            <br>Nuestro programa no tiene “tareas para la casa” ni entregas de trabajos escritos… sino que se basa en desafíos. Los desafíos son aplicaciones concretas y prácticas de lo que se está aprendiendo en la vida real. Los desafíos se evalúan por el impacto que produce en la realidad.

        </h4></div>
        <br>

        <div class="col-3 col-md-1"><img src="img/pilar4.png" width="80%" align="right"> </img></div>
        <div class="col-12 col-sm-6 col-md-11"><h4 style="text-align: justify; font-family: myFirstFont;"><b>Los laboratorios de aprendizaje

        </b>
            <br>
            En vez de clases magistrales, nuestra metodología se basa en laboratorios de aprendizaje. Estos laboratorios son conversaciones de coaching donde evaluamos los resultados de la aplicación de los desafíos de los participantes en la vida real, la forma en que estamos aprendiendo y conversamos sobre los obstáculos nos frenan a aprender más rápido.
        </h4></div>
        <br>


        <div class="col-3 col-md-1"><img src="img/pilar5.png" width="80%" align="right"> </img></div>
        <div class="col-12 col-sm-6 col-md-11"><h4 style="text-align: justify; font-family: myFirstFont;"><b>Espacio virtual de aprendizaje



        </b>
            <br>Todas las clases del programas serán virtuales y estarán disponibles para verlas en cualquier lugar, en cualquier momento y las veces que quieras. Los espacios presenciales, como las conferencias,  están diseñadas para generar los contextos y los espacios emocionales que habilitan y empoderan el aprendizaje.

        </h4></div>
        <br>

        <div class="col-3 col-md-1"><img src="img/pilar6.png" width="80%" align="right"> </img></div>
        <div class="col-12 col-sm-6 col-md-11"><h4 style="text-align: justify; font-family: myFirstFont;"><b>El proceso de evaluación


        </b>
            <br>
            Nuestra metodología de aprendizaje integra el proceso de evaluación y certificación al desarrollo de competencias como coach.  El proceso está diseñado para que en cada momento el aprendiz tenga feedback sobre sus fortalezas y debilidades y obtenga estrategias para saber cómo superarlas.

        </h4></div>

        <div class="col-12" align="center">

                <h2 style="text-align: center; font-family: myFirstFont; padding-top: 7%"> <b>FACILITADORES</b>


                </h2>
                <br><br>




        </div>


    </div>
    </div>
    </div>


    </div>
    <div style="background-color: #e8eff5;">
        <div class="Facilitadores">
            <div class="row">
                <div class="col-12 col-lg-6" align="center">

                    <img src="../img/team.png" width="100%">

                </div>
                <div class="col-12 col-lg-6">
                    <br><br>


                    <h3 class="what"align="center">
                        Entre los líderes académicos de la Escuela se encuentran pioneros en la práctica del coaching ontológico en Venezuela.
                        <br> <br>
                        Nuestros coaches master acumulan más de 30 mil horas de coaching y otras miles de entrenamiento a nuevos coaches y coaches
                        supervisores en  América Latina.
                        <br><br>
                        Ellos son: Esteban Reyes, María Milagros Verde, Raixa Rivero y Harry López.

                    </h3>
                </div>






            </div>
    </div>
    </div>
</div class="row">
<div class="col-12" align="center">
    <br><br>
    <h1 style=" font-family: myFirstFont;"> ¿QUÉ APRENDERÁS?</h1>

</div>

<div class="col-12" style="padding-left: 10%" >

    <ul style="text-align: justify; font-family: myFirstFont;font-size: 25px;">
        <li>A comprender <b>cómo piensan los emprendedores</b> y <b>cómo dominan la incertidumbre.</b></li>
        <li>Combinar <b>herramientas y lienzos visuales</b> para crear y compartir una visión poderosa del negocio</li>
        <li>Te familiarizarás con el <b>pensamiento no lineal</b> y lo aplicarás en el <b>proceso de diseño de doble lazo.</b>
        </li>
        <li>Cómo los emprendedores innovadores escuchan a sus clientes, crean experimentos y validan sus hipótesis de un negocio.
        </li>
        <li>Cómo otras organizaciones crean una cultura con estas nuevas prácticas, habilidades y mentalidad.

        </li>
    </ul>

</div>
<h2 style="text-align: center; font-family: myFirstFont;"><b>Conviérte en un rebelde y cambia  tu organización a través del trabajo en equipo
    y las narrativas de innovación</b>

</h2>
</div>
</div>
    <div class="Contenido">

        <div class="row contenido">

            <div class="col-12">
                <div align="center" style="position: absolute;
                                             margin-left: 42%;">
                    <h1 class="what"align="center" style="padding-top: 10%; background-color:#dc3545; color: white">Contenido
                    </h1>
                </div>
            </div>

            <div style="width: 10px;height: 30px; background-color: #0e90d2;    position: relative;
    top: 63px;
    margin-left: 50%;"></div>


            <div  class="col-12">
                <div class="row contenedor" style="margin-top:70px;  " >

                    <div class="fondoblanco" style="margin-left: 10%; width: 100%;padding-top: 5%">

                        <div class="col-12">
                            <h1 class="what"align="center" style="padding-bottom: 7%;">MÓDULO 1: INTRODUCCIÓN AL COACHING ONTOLÓGICO

                            </h1>
                        </div>
                        <div class=" row ">
                        <div class="col-4">
                            <h2 style=" text-align :center; font-family: myFirstFont;"> <b>PRIMERA CONFERENCIA </b> </h2>
                            
                        </div>
                        <div class="col-8">

                            <h4 style=" font-family: myFirstFont;">Conocerás las bases filosóficas y psicológicas del enfoque ontológico e integral del coaching.
                                Desafía la comprensión tradicional de la comunicación humana y presenta un nuevo  enfoque sobre el poder del lenguaje y el arte de conversar.
                            </h4>

                        </div>

                            <div class="col-4">
                                <h2 style=" text-align :center; font-family: myFirstFont; padding-top: 3%;"><b>SEMANA 1 Y 2 </b> </h2>

                            </div>
                            <div class="col-8">
                                <h3 style=" font-family: myFirstFont;"> <b>El poder oculto del contexto
                                </b></h3>
                                <h4 style=" font-family: myFirstFont;">En este desafío, descubrirás el poder oculto de los contextos en los distintos dominios donde se desenvuelve: su vida interna, su vida familiar, su vida profesional y sus emprendimientos.  </h4>

                            </div>
                            <div class="col-4">
                                <h2 style=" text-align :center; font-family: myFirstFont; padding-top: 3%;"><b>SEMANA 3 Y 4 </b> </h2>

                            </div>
                            <div class="col-8">
                                <h3 style=" font-family: myFirstFont;"> <b>La escucha efectiva y empática
                                </b></h3>
                                <h4 style=" font-family: myFirstFont;">Conocerás una nueva forma de interpretar la escucha humana y su increíble poder para incrementar tu  capacidad de comunicación.  </h4>

                            </div>
                            <div class="col-4">
                                <h2 style=" text-align :center; font-family: myFirstFont; padding-top: 3%;"><b>SEMANA 5 Y 6 </b> </h2>

                            </div>
                            <div class="col-8">
                                <h3 style=" font-family: myFirstFont;"> <b>Las conversaciones para la acción
                                </b></h3>
                                <h4 style=" font-family: myFirstFont;">En este desafío te darás cuenta de la poderosa conexión que existe entre las conversaciones, las acciones  y los resultados. Descubrirás la forma cómo hacemos y gestionamos compromisos.  </h4>

                            </div>
                            <div class="col-4">
                                <h2 style=" text-align :center; font-family: myFirstFont; padding-top: 3%;"><b>SEMANA 7 Y 8
                                </b> </h2>

                            </div>
                            <div class="col-8">
                                <h3 style=" font-family: myFirstFont;"> <b>El arte de entregar feedback
                                </b></h3>
                                <h4 style=" font-family: myFirstFont;">Podrás reconocer el poder  transformador y generador del feedback con las personas más importantes de tu red. Esta práctica se sustenta en la distinción de juicios y la competencias de saber sustentarlos en hechos y afirmaciones.  </h4>

                            </div>
                            <div class="col-4">
                                <h2 style=" text-align :center; font-family: myFirstFont; padding-top: 3%;"><b>SEMANA 9 Y 10
                                </b> </h2>

                            </div>
                            <div class="col-8">
                                <h3 style=" font-family: myFirstFont;"> <b>El quiebre y el aprendizaje adaptativo.
                                </b></h3>
                                <h4 style=" font-family: myFirstFont;">En este desafío descubrirás la importancia que tiene declarar que una situación no te satisface y  que requiere hacerse cargo de ella, a pesar de no tener claro qué es aquello que te está obstaculizando en su solución.  </h4>

                            </div>

                            <div class="col-4">
                                <h2 style=" text-align :center; font-family: myFirstFont; padding-top: 3%;"><b>SEMANA 11, 12 Y 13
                                </b> </h2>

                            </div>
                            <div class="col-8">
                                <h3 style=" font-family: myFirstFont;"> <b>Diseño y ejecución de un taller sobre el poder del lenguaje
                                </b></h3>
                                <h4 style=" font-family: myFirstFont;">Este es un desafío colectivo que realizarás con tu hub de aprendizaje y grupo de estudio. Junto a ellos tendrás que diseñar, lanzar, promocionar, organizar y coordinar su primer taller como coach-facilitador ante una audiencia real. </h4>

                            </div>


                </div>
                </div>

            </div>
            <div class="col-12">
                <div style="width: 10px;height: 50px; background-color: #0e90d2;    position: relative;
                            top: 38px;
                            margin-left: 50%;"></div>
            </div>
            <div  class="col-12">
                <div class="row contenedor" style="margin-top:70px; ">

                    <div class="fondoblanco" style="margin-left: 10%; width: 100%;padding-top: 5%">
                        <div class="row">
                        <div class="col-12">

                            <h1 class="what"align="center">MÓDULO 2:
                                EL ARTE DE CREAR EMPRESAS INNOVADORAS


                            </h1>
                        </div>
                        <div class="col-4">
                            <h2 style=" text-align :center; font-family: myFirstFont;"> <b>SEGUNDA  CONFERENCIA. </b> </h2>

                        </div>
                        <div class="col-8">

                            <h4 style=" font-family: myFirstFont;">En la segunda conferencia conocerás la lógica exponencial que,
                                debido a las tecnologías exponenciales,  impulsa la disrupción en casi todos los sectores de la economía.
                                Además conocerás el método general de gestión de la  innovación.
                            </h4>

                        </div>

                        <div class="col-4">
                            <h2 style=" text-align :center; font-family: myFirstFont; padding-top: 3%;"><b>SEMANA 1 Y 2 </b> </h2>

                        </div>
                        <div class="col-8">
                            <h3 style=" font-family: myFirstFont;"> <b>Un propósito más grande
                            </b></h3>
                            <h4 style=" font-family: myFirstFont;">En este desafío, descubrirás el
                                poder que tiene trabajar para un propósito de impacto y transformación del mundo en tu proyecto emprendedor.   </h4>

                        </div>
                            <div class="col-4">
                                <h2 style=" text-align :center; font-family: myFirstFont; padding-top: 3%;"><b>SEMANA 3 Y 4 </b> </h2>

                            </div>
                            <div class="col-8">
                                <h3 style=" font-family: myFirstFont;"> <b>Un problema que valga la pena resolver
                                </b></h3>
                                <h4 style=" font-family: myFirstFont;">Conocerás una nueva forma de iniciar una empresa poniendo el foco, no en un producto,
                                    sino en resolver un problema cuya solución impacte a  millones de personas.    </h4>

                            </div>
                            <div class="col-4">
                                <h2 style=" text-align :center; font-family: myFirstFont; padding-top: 3%;"><b>SEMANA 5 Y 6</b> </h2>

                            </div>
                            <div class="col-8">
                                <h3 style=" font-family: myFirstFont;"> <b>Validando las  hipótesis del problema.
                                </b></h3>
                                <h4 style=" font-family: myFirstFont;">En este desafío te darás cuenta de la necesidad de salir a la calle a conversar con los clientes
                                    y las comunidades y diseñar experimentos para validar sus hipótesis acerca del problema.    </h4>

                            </div>
                            <div class="col-4">
                            <h2 style=" text-align :center; font-family: myFirstFont; padding-top: 3%;"><b>SEMANA 7 Y 8</b> </h2>

                        </div>
                            <div class="col-8">
                                <h3 style=" font-family: myFirstFont;"> <b>Innovando en la propuesta de valor
                                </b></h3>
                                <h4 style=" font-family: myFirstFont;">Los grandes productos surgen y evolucionan a partir de diseño,  poniendo el foco en el valor
                                    y en las nuevas posibilidades que generamos en la vida del cliente.   </h4>

                            </div>
                            <div class="col-4">
                                <h2 style=" text-align :center; font-family: myFirstFont; padding-top: 3%;"><b>SEMANA 9 Y 10</b> </h2>

                            </div>
                            <div class="col-8">
                                <h3 style=" font-family: myFirstFont;"> <b>Validando las hipótesis de valor
                                </b></h3>
                                <h4 style=" font-family: myFirstFont;">En este desafío saldrás a la calle a validar las principales hipótesis de valor de tu propuesta. Diseñarás  experimentos creativos,
                                    rápidos y baratos para descubrir lo que generan valor para los clientes.   </h4>

                            </div>
                            <div class="col-4">
                                <h2 style=" text-align :center; font-family: myFirstFont; padding-top: 3%;"><b>SEMANA 11, 12 Y 13</b> </h2>

                            </div>
                            <div class="col-8">
                                <h3 style=" font-family: myFirstFont;"> <b>Startcoaching Sprint
                                </b></h3>
                                <h4 style=" font-family: myFirstFont;">Este es un desafío colectivo realizaremos una simulación de tres días
                                    donde pondrás en juego todo lo aprendido en este módulo en proyectos de emprendimiento reales.    </h4>

                            </div>


                    </div>

                    </div>
                </div>

            </div>

            <div class="col-12">
                <div style="width: 10px;height: 50px; background-color: #0e90d2;    position: relative;
                            top: 38px;
                            margin-left: 50%;"></div>
            </div>
            <div  class="col-12">
                <div class="row contenedor" style="margin-top:70px; ">

                    <div class="fondoblanco" style="margin-left: 10%; width: 100%;padding-top: 5%">
                         <div class="row">
                            <div class="col-12">

                                <h1 class="what"align="center">MÓDULO 3:
                                    LA PRÁCTICA DE COACHING PARA EL
                                    EMPRENDIMIENTO Y LA INNOVACIÓN


                                </h1>
                            </div>
                            <div class="col-4">
                                <h2 style=" text-align :center; font-family: myFirstFont;"> <b>TERCERA  CONFERENCIA</b> </h2>

                            </div>
                            <div class="col-8">

                                <h4 style=" font-family: myFirstFont;">En la tercera conferencia iniciaremos el desarrollo de competencias como coaching de emprendimiento e
                                    innovación. Durante la conferencia, conocerás  la estructura de la conversación de coaching y el modelo de competencias que usamos
                                    para evaluar y certificar.
                                </h4>

                            </div>

                            <div class="col-4">
                             <h2 style=" text-align :center; font-family: myFirstFont; padding-top: 3%;"><b>SEMANA 1 Y 2 </b> </h2>

                         </div>
                             <div class="col-8">
                                 <h3 style=" font-family: myFirstFont;"> <b>Iniciando nuestra práctica de coaching

                                 </b></h3>
                                 <h4 style=" font-family: myFirstFont;">En este desafío, descubrirás y experimentarás el momento de inicio de una conversación de coaching: La importancia del contexto, la forma de iniciar la conversación y la declaración de quiebre.
                                 </h4>

                             </div>
                             <div class="col-4">
                                 <h2 style=" text-align :center; font-family: myFirstFont; padding-top: 3%;"><b>SEMANA 3 Y 4 </b> </h2>

                             </div>
                             <div class="col-8">
                                 <h3 style=" font-family: myFirstFont;"> <b>El momento de la interpretación

                                 </b></h3>
                                 <h4 style=" font-family: myFirstFont;">Conocerás la importancia decisiva que tiene manejar las interpretaciones en una conversación de coaching. Desarrollarás competencias para distinguir entre hechos e interpretaciones

                                 </h4>

                             </div>
                             <div class="col-4">
                                 <h2 style=" text-align :center; font-family: myFirstFont; padding-top: 3%;"><b>SEMANA 5 Y 6</b> </h2>

                             </div>
                             <div class="col-8">
                                 <h3 style=" font-family: myFirstFont;"> <b>El momento de intervención

                                 </b></h3>
                                 <h4 style=" font-family: myFirstFont;">En este desafío descubrirás nuevas formas de ayudar a otros a darse cuenta de aquello que lo tiene frenado, que no le permite avanzar. El arte de intervenir en el coach requiere de competencias refinadas para hacer preguntas y mostrar aquello que el cliente no puede ver.

                                 </h4>

                             </div>
                             <div class="col-4">
                             <h2 style=" text-align :center; font-family: myFirstFont; padding-top: 3%;"><b>SEMANA 7 Y 8
                             </b> </h2>

                         </div>
                             <div class="col-8">
                                 <h3 style=" font-family: myFirstFont;"> <b>Los condicionantes de la acción emprendedora

                                 </b></h3>
                                 <h4 style=" font-family: myFirstFont;">El arte del coaching para el emprendimiento y la innovación consiste en liberar a los emprendedores de los condicionamientos profundos que lo condena a resultados insuficientes tales como las creencias, las emociones y los espacios ciegos de aprendizaje

                                 </h4>

                             </div>
                             <div class="col-4">
                                 <h2 style=" text-align :center; font-family: myFirstFont; padding-top: 3%;"><b>SEMANA 9 Y 10
                                 </b> </h2>

                             </div>
                             <div class="col-8">
                                 <h3 style=" font-family: myFirstFont;"> <b>Las creencias que limitan

                                 </b></h3>
                                 <h4 style=" font-family: myFirstFont;">En este desafío  descubrirás las principales creencias que limitan la acción emprendedora: Las creencias sobre los socios, el dinero, la administración y la organización de las empresas. Las creencias sobre nosotros mismos, nuestras capacidades y habilidades. .

                                 </h4>

                             </div>
                             <div class="col-4">
                                 <h2 style=" text-align :center; font-family: myFirstFont; padding-top: 3%;"><b>SSEMANA 11, 12 Y 13
                                 </b> </h2>

                             </div>
                             <div class="col-8">
                                 <h3 style=" font-family: myFirstFont;"> <b>Desafío N

                                 </b></h3>
                                 <h4 style=" font-family: myFirstFont;">Este es un desafío colectivo que consiste en dedicar las últimas 8 semanas del programa a trabajar con emprendedores reales, a facilitar experiencias de aprendizaje y a hacer coaching  sobre sus proyectos emprendedores.
                                 </h4>

                             </div>



                         </div>
                    </div>
                </div>

            </div>

                <div class="col-12">
                    <div style="width: 10px;height: 50px; background-color: #0e90d2;    position: relative;
                            top: 38px;
                            margin-left: 50%;"></div>
                </div>




        </div>
    </div>
        <div  class="col-12">
            <div class="row contenedor" style="margin-top:70px; ">

                <div class="fondoblanco" style="margin-left: 10%; width: 100%;padding-top: 5%">
                    <div class="row">

                            <div class="col-12" align="center">

                                <h2>
                                   <b> BOOTCAMP DE COACHING DE E & I:</b> <br>
                                    7 SESIONES DE PRÁCTICAS DE COACHING SUPERVISADO
                                    Y EXPERIENCIA DE CIERRE



                                </h2>


                            </div>


                    </div>


                </div>
            </div>
        </div>

        <div class="col-12">
            <div style="width: 10px;height: 50px; background-color: #0e90d2;    position: relative;
                            top: 38px;
                            margin-left: 50%;"></div>
        </div>
        <br><br><br>
        <div class="col-12" align="center">

            <a class="redbotton" href="#" role="button"><span>APLICAR</span></a>
        </div>










    <div style="background-color: #0099cc;">
        <div class="row social">


            <div class="col-lg-4 col-12" align="center">
                <h5>Aceledarado Por:</h5>
                <h2>Accede</h2>

            </div>
            <div class="col-lg-4 col-12">
                <div class="row">
                    <div class="col-12">
                        <h4 align="center">SIGUE CON NOSOTROS:
                        </h4>

                    </div>
                    <div class="col" align="center">
                        <a href="#" class="fa fa-facebook"></a>
                    </div>
                    <div class="col" align="center">
                        <a href="#" class="fa fa-twitter"></a>
                    </div>
                    <div class="col" align="center">
                        <a href="#" class="fa fa-instagram"></a>
                    </div>
                    <div class="col" align="center">
                        <a href="#" class="fa fa-linkedin"></a>
                    </div>
                    <div class="col" align="center">
                        <a href="#" class="fa fa-youtube"></a>
                    </div>

                </div>

            </div>
            <div class="col-lg-4 col-12" align="center">
                <img src="../img/StartCoaching.png" width="80%" style="margin-top: 10px;">

            </div>
        </div>

    </div>
</div>
</body>


</html>