<!DOCTYPE html>
<html lang="es" >
<head>
    <link rel="icon" type="image/png" href="../img/favicon.ico">
    <link rel="stylesheet" id="googlefonts_heading-css" href="http://fonts.googleapis.com/css?family=Roboto%3A300%2C400%2C400italic%2C700&amp;ver=3.8.1" type="text/css" media="all">
    <link href='http://fonts.googleapis.com/css?family=Roboto:400,300,700,700italic&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="../style/main.css">
    <meta  charset="utf-8">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <script src="scripts/main.js"></script>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js" integrity="sha384-b/U6ypiBEHpOf/4+1nzFpr53nxSS+GLCkfwBdFNTxtclqqenISfwAzpKaMNFNmj4" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/js/bootstrap.min.js" integrity="sha384-h0AbiXch4ZDo7tp9hKZ4TsHbi047NrKGLO3SEJAg45jXxnGIfYzk4Si90RDIqNm1" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M" crossorigin="anonymous">
    <title>Programacion
    </title>
</head>
<body >
<div class="container-fluid">
    <nav class="navbar navbar-expand-lg navbar-light bg-light" style="
    position: fixed;
    z-index: 100;
    width: 100%;
    overflow: hidden;
    top:0;
">
        <a class="navbar-brand logo" href="../index.html">
            <div>
                <img src="../img/logo.png" width="45px" height="30px">
            </div>
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarText">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="programacion.html">PROGRAMACIÓN  <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">LIBRO  </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">TOOLKIT</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">NOSOTROS</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">BLOG</a>
                </li>
            </ul>

            </span>
        </div>
    </nav>

    <div class="producto2">
            <div class="row">
                <div class="col-3" style="padding-top: 15%;" align="center">

                    <a href=" programa.html"  >
                        <img src="../img/left-angle-bracket.svg" width="40px" >

                    </a>

                </div>
                <div class="col-6" align="center">

                    <img src="../img/start3.png" width="100%">

                        <h3 style="text-align: center; font-family: myFirstFont; color: white;">Programa de certificación de competencias en Coaching de Emprendimiento e Innovación
                        </h3>

                </div>
                <div class="col-3"style="padding-top: 15%;" align="center">

                    <a href="programa.html">
                        <img src="../img/scroll-arrow-to-right.svg" width="40px">

                    </a>

                </div>

            </div>

    </div>
    <div style="background-color: #e8eff5;">
        <div class="relase_date" >
            <div class="row">
                <div class="col-3 " align="right">

                </div>

                <div class="col-2 " align="right">
                <i class="material-icons" style="font-size: 60px; opacity: .8;">edit_location</i>
            </div>
                <div class="col-6 " align="left">
                    <br>
                    <h3 style=" font-family: myFirstFont;" >VENEZUELA</h3>

                </div>
                <div class="col-3 " align="right">

                </div>
                <div class="col-2 " align="right">
                    <i class="large material-icons" style="font-size: 60px;opacity: .8;" >date_range</i>
                </div>
                <div class="col-6 " align="left">
                    <br>
                    <h3 style=" font-family: myFirstFont;" >INICIA: 26,27 Y 28 DE ENERO. DURACIÓN: 1 AÑO
                    </h3>

                </div>



        </div>

        </div>
    </div>

    <div class="queAprenderas">
        <div class="col-12">
            <h3 style="text-align: center; font-family: myFirstFont;">STARTCOACHING ES UNA PRÁCTICA ESPECIALIZADA EN EL APRENDIZAJE DE LOS EMPRENDEDORES Y EQUIPOS DE INNOVACIÓN EN LAS EMPRESAS.

            </h3>
            <div align="center">
            <iframe width="640px" height="260" src="https://www.youtube.com/embed/i0rPZdqyYqc" frameborder="0" allowfullscreen></iframe>
             </div>

            <div>


            </div class="row">
            <div class="col-12" align="center">

                    <h3 style="color: #dc3545;"> ¿QUÉ APRENDERÁS?</h3>

            </div>

            <div class="col-12" style="padding-left: 10%" >
                <h4 style=" font-family: myFirstFont;">Después de miles de horas de práctica,
                    hemos descubierto que un Coach de E+I puede
                    ser de mucha ayuda:
                </h4>
                    <ul style="text-align: justify; font-family: myFirstFont;font-size: 20px;">
                        <li>Desarrolla experiencias
                            de aprendizaje para incrementar el poder de
                            los emprendedores para gestionar su emprendimiento
                            como una Startup</li>
                        <li>Ayuda a que los emprendedores  se conecten con su propósito y talentos y derrumben  los
                            juicios, creencias y estados de
                            ánimo que los limitan.
                        </li>
                        <li>Diseña y crea ecosistemas abiertos para el florecimiento de la innovación

                        </li>
                        <li>Inspira a las comunidades a conectarse con las narrativas del mundo que abren más posibilidades para un emprendimiento más ético e innovador.
                        </li>

                    </ul>

        </div>

        </div>
        </div>



    </div>
    <div style="background-color: #e8eff5;">
        <div class="Facilitadores">
            <div class="row">
                <div class="col-12 col-lg-6">



                </div>
                <div class="col-12 col-lg-6">
                    <h3 class="what"align="center" style="padding-top: 5% ">Facilitadores</h3>

                    <h5 class="what"align="center">
                        Entre los líderes académicos de la escuela se encuentran pioneros en la práctica del coaching ontológico en Venezuela.

                        Nuestros coaches master acumulan más de 30 mil horas de coaching y otras miles de entrenamiento a nuevos coaches y coaches supervisores en  América Latina.

                        Ellos son: Esteban Reyes, María Milagros Verde, Raixa Rivero y Harry López.
                    </h5>
                </div>






            </div>
    </div>
    </div>


    <div class="Contenido">

        <div class="row contenido">

            <div class="col-12">
                <div align="center" style="position: absolute;
                                             margin-left: 30%;">
                    <h1 class="what"align="center" style="padding-top: 10%; background-color:#dc3545; color: white">Contenido
                    </h1>
                </div>
            </div>

            <div style="width: 10px;height: 30px; background-color: #0e90d2;    position: relative;
    top: 63px;
    margin-left: 38%;"></div>


            <div  class="col-10">
                <div class="row contenedor" style="margin-top:70px;  " >

                    <div class="fondoblanco" style="margin-left: 10%; width: 100% ">

                        <div class="col-12">
                            <h1 class="what"align="center">MÓDULO 1:EL PODER DEL LENGUAJE.

                            </h1>
                        </div>

                        <div class="col-6"></div>
                        <div class="col-6">
                            <ul style="text-align: center; font-family: myFirstFont; font-size: 20px;">
                                <li>El poder generador del lenguaje

                                </li>
                                <li>El arte olvidado de escuchar.
                                </li>
                                <li>Los juicios, prejuicios y creencias.

                                </li>
                                <li>El poder de las emociones y los estados de ánimo.

                                </li>
                                <li>
                                    Conversaciones, compromisos, acción y resultados.
                                </li>
                            </ul>


                        </div>
                    </div>
                </div>

            </div>
            <div class="col-12">
                <div style="width: 10px;height: 50px; background-color: #0e90d2;    position: relative;
                            top: 38px;
                            margin-left: 38%;"></div>
            </div>
            <div  class="col-10">
                <div class="row contenedor" style="margin-top:70px; ">

                    <div class="fondoblanco" style="margin-left: 10%; width: 100%">
                        <div class="col-12">

                            <h1 class="what"align="center">MÓDULO 2:
                                EL ARTE DE CREAR EMPRESAS INNOVADORAS.


                            </h1>
                        </div>

                        <div class="col-6">



                        </div>
                        <div class="col-6">

                            <ul style="text-align: center; font-family: myFirstFont; font-size: 20px;">
                                <li>Un propósito más grande. La importancia del para qué.

                                </li>
                                <li>Un problema que valga la pena resolver


                                </li>
                                <li>Escuchar el problema del cliente

                                </li>
                                <li>Diseño de propuestas de valor centrado en el cliente

                                </li>
                            </ul>
                        </div>
                    </div>
                </div>

            </div>

            <div class="col-12">
                <div style="width: 10px;height: 50px; background-color: #0e90d2;    position: relative;
                            top: 38px;
                            margin-left: 38%;"></div>
            </div>
            <div  class="col-10">
                <div class="row contenedor" style="margin-top:70px; ">

                    <div class="fondoblanco" style="margin-left: 10%; width: 100%">
                        <div class="col-12">

                            <h1 class="what"align="center">MÓDULO 3:
                                EL VIAJE INTERNO DEL EMPRENDEDOR.


                            </h1>
                        </div>

                        <div class="col-6">



                        </div>
                        <div class="col-6">
                            Te iniciarás en la práctica de coaching con emprendedores reales


                            <ul style="text-align: center; font-family: myFirstFont; font-size: 20px;">
                                <li>El Coaching como una conversación.

                                </li>
                                <li>La distinción del observador


                                </li>
                                <li>La distinción de quiebre y transparencia


                                </li>
                                <li>Momentos de la conversación de coaching

                                </li>
                                <li>La importancia del contexto en la conversación de coaching

                                </li>
                            </ul>

                        </div>
                    </div>
                </div>

            </div>

        </div>
    </div>


    <div class="row testimonios">

        <div class="row">
            <div class="col-6" >
                <div align="center">
                    <img src="../img/comillas.png" align="middle" width="25%">

                </div>

                <h2 class="what">Crear un negocio en medio de la revolución tecnológica,
                    requiere un liderazgo con competencias de coach. Startcoaching me ayudó a tener una capacidad más profunda de observar al mundo y escuchar a mis clientes, socios y colaboradores.
                </h2>
            </div>
            <div class="col-6" align="center">
                <img src="../img/testimonio.png"   style="width : 40%;" align="center"></img>
            </div>
        </div>
    </div>




    </div>






    <div class="preguntas">

        <div class="row">
            <div class="col-md-6 mb-3">
                <form>

                    <label for="validationServer01">¿Cómo te llamas?</label>
                    <input type="text" class="form-control" id="validationServer01" placeholder="Nombres" required>

                    <div class="form-group">
                        <label for="exampleFormControlInput1">Email</label>
                        <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="name@example.com" required>
                    </div>
                    <div class="form-group">
                        <label for="exampleFormControlInput1">Telefono</label>
                        <input class="form-control" type="text" placeholder="Telefono" required>
                    </div>
                    <div class="form-group">
                        <label for="exampleFormControlTextarea1">¿Qué deseas saber?</label>
                        <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
                    </div>
                    <div align="right">
                    <button type="submit" class="btn btn-primary" >Enviar</button>
                    </div>
                </form>

            </div>
            <div class="col-md-6 mb-3">
                <div class="col-12">
                    <h4>Envíanos un mensaje a: </h4>
                </div>
                <div class="row" style="padding-top: 10%">
                        <div class="col-6">
                            <i class="fa fa-whatsapp" aria-hidden="true" style="color: green;"></i>
                        </div>
                        <div class="col-6">
                            <br>
                            <h3>0414-2138331
                            </h3>
                        </div>
            </div>

            </div>

        </div>


    </div>





    <div style="background-color: #0099cc;">
        <div class="row social">


            <div class="col-lg-4 col-12" align="center">
                <h5>Aceledarado Por:</h5>
                <h2>Accede</h2>

            </div>
            <div class="col-lg-4 col-12">
                <div class="row">
                    <div class="col-12">
                        <h4 align="center">SIGUE CON NOSOTROS:
                        </h4>

                    </div>
                    <div class="col" align="center">
                        <a href="#" class="fa fa-facebook"></a>
                    </div>
                    <div class="col" align="center">
                        <a href="#" class="fa fa-twitter"></a>
                    </div>
                    <div class="col" align="center">
                        <a href="#" class="fa fa-instagram"></a>
                    </div>
                    <div class="col" align="center">
                        <a href="#" class="fa fa-linkedin"></a>
                    </div>
                    <div class="col" align="center">
                        <a href="#" class="fa fa-youtube"></a>
                    </div>

                </div>

            </div>
            <div class="col-lg-4 col-12" align="center">
                <img src="../img/StartCoaching.png" width="80%" style="margin-top: 10px;">

            </div>
        </div>

    </div>
</div>
</body>


</html>