<!DOCTYPE html>
<html lang="es" >
<head>
    <link rel="icon" type="image/png" href="../img/favicon.ico">
    <link rel="stylesheet" id="googlefonts_heading-css" href="http://fonts.googleapis.com/css?family=Roboto%3A300%2C400%2C400italic%2C700&amp;ver=3.8.1" type="text/css" media="all">
    <link href='http://fonts.googleapis.com/css?family=Roboto:400,300,700,700italic&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="../style/main.css">
    <meta  charset="utf-8">
    <script src="scripts/main.js"></script>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js" integrity="sha384-b/U6ypiBEHpOf/4+1nzFpr53nxSS+GLCkfwBdFNTxtclqqenISfwAzpKaMNFNmj4" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/js/bootstrap.min.js" integrity="sha384-h0AbiXch4ZDo7tp9hKZ4TsHbi047NrKGLO3SEJAg45jXxnGIfYzk4Si90RDIqNm1" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M" crossorigin="anonymous">
    <title>APLICACION
    </title>

    <style>
        table {
            font-family: arial, sans-serif;
            border-collapse: collapse;
            width: 100%;
        }

        td, th {
            border: 1px solid #dddddd;
            text-align: left;
            padding: 8px;
        }

        tr:nth-child(even) {
            background-color: #dddddd;
        }
    </style>
</head>
<body >
<div class="container-fluid">
    <nav class="navbar navbar-expand-lg navbar-light bg-light"  >
        <div class="row" style="width: 100%">
            <div class="col-5">
                <a class="navbar-brand logo" href="../index.html" >
                    <div align="left">
                        <img src="../img/logo-startcoaching_positivo.png" width="50%" >
                    </div>
                </a>


            </div>
            <div  class="col-7" align="right" style="margin-top: 14px;">
                <ul class="nav justify-content-end">
                    <li class="nav-item ">
                        <div class="dropdown">
                            <button class="dropbtn">APRENDER</button>
                            <div class="dropdown-content" align="center">

                                <a href="programa2.html">GEN5</a>
                                <a href="programa.html">DISCOVER</a>
                            </div>
                        </div>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="libro.html">LIBRO  </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="http://startcoachingla.blogspot.com/">BLOG</a>
                    </li>
                    <li class="nav-item">
                        <a class="redbotton" href="programacion.html" role="button"><span>APLICAR</span></a>
                    </li>
                </ul>
            </div>

        </div>

    </nav>

<div class="Aplicacion" style="  padding-top: 40px;">
    <div class="row">

        <div class="col-12"  align="center" style="padding-top:5%; padding-bottom: 5%">
            <h2>APLICA A STARTCOACHING</h2>


        </div>
        <div class="col-12" style="padding-top:5%; padding-bottom: 5%" >

            <h3>CONVOCATORIAS ABIERTAS:
            </h3>


        </div>
        <div class="col-12" >
            <table style="width:100%; font-family: myFirstFont; font-size: 20px;">
                <tr>
                    <th>PROGRAMA</th>
                    <th>LUGAR Y FECHA</th>
                    <th>ESPECIAL PARA</th>
                    <th>DURACION</th>
                    <th>PRECIO</th>
                </tr>
                <tr>
                    <td>Gen</td>
                    <td>Caracas, 10, 11 y 12 Mayo <br> <b>Primera Conferencia</b></td>
                    <td>Profesionales de diversas carreras que sientan el llamado a convertirse en coaches profesionales en el campo del  emprendimiento y la innovación</td>
                    <td>10 MESES</td>
                    <td>500$</td>
                </tr>
                <tr>
                    <td>Discover</td>
                    <td>Caracas, 28 de Febrero al 3 de Marzo <br> <b>Workshop</b></td>
                    <td>Coaches profesionales activos que sientan la necesidad de ampliar su oferta de servicios hacia el  campo del emprendimiento y la innovación.</td>
                    <td>4 DÍAS</td>
                    <td>65$</td>
                </tr>
                <tr>
                    <td>Practitioner</td>
                    <td>Caracas, 24,25 al 26 de Mayo <br> <b>Primera conferencia</b></td>
                    <td>Coaches profesionales activos que conozcan la práctica de Startcoaching y quieran profundizar en las prácticas avanzadas.</td>
                    <td>6 MESES
                    </td>
                    <td>300$</td>
                </tr>



            </table>


        </div>

        <div class="col-12" align="center" style="padding-top: 5%; padding-bottom: 5%;">

                <h4>
                    El programa incluye actividades presenciales, clases en línea y material instruccional que que los participantes  puedan usar
                    para facilitar a emprendedores y líderes de innovación.
                    <br> <br>
                    Los costos no incluye alojamiento ni almuerzos.



                </h4>




        </div>

        <div class="col-12">

            <h2>
                CÓMO APLICAR:
                <br><br>

            </h2>


            <ol style="text-align: justify;font-family: myFirstFont; font-size: 25px; margin-left: 5%;margin-right: 5%;">
                <li>Selecciona el programa al cual quieres aplicar y llena el formulario que se te presentará a continuación.
                </li>
                <li>Nuestro equipo te contactará a través de un correo electrónico para agendar una entrevista telefónica, donde conversaremos sobre tu perfil e interés en la formación en nuestra escuela.
                    Allí tendrás un espacio de tiempo aclara cualquier dudas que tengas sobre los diferentes aspectos del programa.
                </li>
                <li>El resultado de tu entrevista lo recibirás en un tiempo no mayor a 48 horas.</li>
            </ol>

            <div align="center" style="padding-top: 5%; padding-bottom: 5%;">
            <h2>Selecciona programa:</h2>

             </div>
        </div>



        <div class="col-6" align="center" style="padding-bottom: 8%;">
            <a class="redbotton" href="https://goo.gl/forms/KUlAQldBuk3gSZWf2" role="button"><span>GEN5</span></a>
              </div>
        <div class="col-6" align="center">
            <a class="redbotton" href="https://goo.gl/forms/NHD6nVytg2ZAB0m33" role="button" style="background-color: #0099cc"><span>DISCOVER</span></a>
        </div>
        <br><br><br>


    </div>
</div>


</div>
    <div style="background-color: #0099cc;">
        <div class="row social">


            <div class="col-lg-4 col-12" align="center">
                <h5>Aceledarado Por:</h5>
                <img src="../img/LogoAccedeNegativo.png" alt="accede" width="30%">


            </div>
            <div class="col-lg-4 col-12">
                <div class="row">
                    <div class="col-12">
                        <h4 align="center">SIGUE CON NOSOTROS:
                        </h4>

                    </div>
                    <div class="col" align="center">
                        <a href="https://www.facebook.com/StartCoachingLA/" class="fa fa-facebook"></a>
                    </div>
                    <div class="col" align="center">
                        <a href="https://twitter.com/StartCoachingLA" class="fa fa-twitter"></a>
                    </div>
                    <div class="col" align="center">
                        <a href="https://www.youtube.com/channel/UClMcCLlkAHN7UgW7jpnGW5g" class="fa fa-instagram"></a>
                    </div>
                    <div class="col" align="center">
                        <a href="https://www.linkedin.com/company/startcoachingla/" class="fa fa-linkedin"></a>
                    </div>
                    <div class="col" align="center">
                        <a href="https://www.youtube.com/channel/UClMcCLlkAHN7UgW7jpnGW5g" class="fa fa-youtube"></a>
                    </div>

                </div>

            </div>
            <div class="col-lg-4 col-12" align="center">
                <img src="../img/StartCoaching.png" width="80%" style="margin-top: 10px;">

            </div>
        </div>

    </div>

</body>


</html>