<!DOCTYPE html>
<html lang="es" >
<head>

    <link rel="icon" type="image/png" href="../img/favicon.ico">

    <link rel="stylesheet" id="googlefonts_heading-css" href="http://fonts.googleapis.com/css?family=Roboto%3A300%2C400%2C400italic%2C700&amp;ver=3.8.1" type="text/css" media="all">
    <link href='http://fonts.googleapis.com/css?family=Roboto:400,300,700,700italic&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="../style/main.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css" integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4" crossorigin="anonymous">
    <meta  charset="utf-8">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <script src="scripts/main.js"></script>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js" integrity="sha384-cs/chFZiN24E4KMATLdqdvsezGxaGsi4hLGOzlXwp5UZB1LY//20VyM2taTB4QvJ" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js" integrity="sha384-uefMccjFJAIv6A+rW+L4AHf99KvxDjWSu1z9VI8SKNVmz4sk7buKt/6v9KI65qnm" crossorigin="anonymous"></script>

    <style>
table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
}
th, td {
    padding: 5px;
}
th {
    text-align: left;
}
</style>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js" integrity="sha384-b/U6ypiBEHpOf/4+1nzFpr53nxSS+GLCkfwBdFNTxtclqqenISfwAzpKaMNFNmj4" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/js/bootstrap.min.js" integrity="sha384-h0AbiXch4ZDo7tp9hKZ4TsHbi047NrKGLO3SEJAg45jXxnGIfYzk4Si90RDIqNm1" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M" crossorigin="anonymous">
    <title>DISCOVER
    </title>
</head>
<body >

    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="row" style="width: 100%">
            <div class="col-5">
                <a class="navbar-brand logo" href="../index.html" >
                    <div align="left">
                        <img src="../img/logo-startcoaching_positivo.png" width="50%" >
                    </div>
                </a>


            </div>
            <div  class="col-7" align="right" style="margin-top: 17px;">
                <ul class="nav justify-content-end">
                    <li class="nav-item ">
                        <div class="dropdown">
                            <button class="dropbtn">APRENDER</button>
                            <div class="dropdown-content" align="center">
                                <a href="programa2.html">GEN5</a>
                                <a href="programa3.html">ACADEMIA N</a>
                                <a href="programa4.html">PRACTITIONER</a>
                            </div>
                        </div>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="libro.html">LIBRO  </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="http://startcoachingla.blogspot.com/">BLOG</a>
                    </li>
                    <li class="nav-item">
                        <a class="redbotton" href="programacion.html" role="button"><span>APLICAR</span></a>
                    </li>
                </ul>
            </div>

        </div>

    </nav>
    <div class="container-fluid">
    <div class="producto">
            <div class="row">
                <div class="col-3" style="padding-top: 5%;" align="center">

                    <a href=" programa2.html"  >
                        <img src="../img/left-angle-bracket.svg" width="40px" >

                    </a>

                </div>
                <div class="col-6" align="center" style="padding-top:2%;">

                    <img src="../img/LOGO-DISCOVER-STARTCOACHING.png" width="100%">



                </div>
                <div class="col-3"style="padding-top: 5%;" align="center">

                    <a href=" programa3.html">
                        <img src="../img/scroll-arrow-to-right.svg" width="40px">

                    </a>

                </div>

            </div>

    </div>

    <div class="queAprenderas" style="padding-right: 5%; padding-left: 5%;">
        <div class="col-12">
            <h1 style="text-align: center; font-family: myFirstFont;"> <b> WORKSHOP</b>



            </h1>
            <br><br>
            <div class="col-12" align="center" >
                <h4 style=" font-family: myFirstFont; text-align: center;">
                    DISCOVER está diseñado para que puedas descubrir la práctica de coaching de
                    emprendimiento e innovación.
                    <br><br>
                    El viaje de aprendizaje incluye conferencias que generan un poderoso contexto
                    para que vivas una experiencia de simulación de crear un negocio innovador en apenas 2 días. En tu camino contarás con el apoyo un Coach de E+I.
                    <br><br>
                    Las siguientes 6 semanas, tendrás el desafío trabajar en tu propio emprendimiento,
                    con ayuda de clases virtuales y coaching online.
                    <br>

                </h4>
                <br><br>

            </div>
            <div class="col-12" align="center">

                <a class="redbotton" href="programacion.html" role="button" style="background-color: #0099cc; padding: 20px 44px;"><span>APLICAR</span></a>
            </div>

        </div>
    </div>

        <div class="Resumen">
            <div class="row">

                <div class="col-3" align="right">
                    <img src="../img/presentacion_graficaDISCOVER1V2.png" alt="">
                </div>
                <div class="col-3" align="center">
                    <img src="../img/_presentacion_graficaDISCOVER2%20(1).png" alt="">
                </div>
                <div class="col-3" align="center">
                    <img src="../img/presentacion_graficaDISCOVER3.png" alt="">
                </div>
                <div class="col-3" align="left">
                    <img src="../img/presentacion_graficaDISCOVER4.png" alt="">

                </div>

            </div>
        </div>




    <div class="row" style="font-family: myFirstFont;max-width: 1100px; margin-left: auto;margin-right: auto; padding-top:2%;">
        <div class="col-12" align="center" style="padding-bottom: 5%; padding-top: 5%;">

                <h2><b> ¿QUÉ APRENDERÁS? </b></h2>

        </div>

        <div class="row" style="padding-right: 5%; padding-left: 5%;">
            <div class="col-1">
                <div class="rojo">


                </div>
                <div class="blanco">

                </div>

            </div>
            <div class="col-11" style="text-align: justify;">
                <h4 >Comprenderás  el contexto tecnológico, social y cultural que está impactando profundamente
                    a las organizaciones y cómo ahora el emprendimiento y la innovación son competencias claves
                    en el mundo de hoy.

                    <br><br>
                </h4>

            </div>
            <div class="col-1">
                <div class="rojo">


                </div>
                <div class="blanco">

                </div>

            </div>
            <div class="col-11"style="text-align: justify;">
                <h4 >Descubrirás cómo piensan, sienten y actúan los emprendedores,
                    a través de un simulador
                    que te permitirá vivir la experiencia real de lanzar un startup en 48 horas.
                    <br><br>
                </h4>

            </div>
            <div class="col-1">
                <div class="rojo">


                </div>
                <div class="blanco">

                </div>

            </div>
            <div class="col-11"style="text-align: justify;">
                <h4 >Conocerás los principales ámbitos de acción del coaching de emprendimiento e innovación, desarrollando
                    tu propio proyecto, con acompañamiento online, en 6 semanas.

                    <br><br>
                </h4>

            </div>
        </div>









</div>
        <div class="Contenido_gen" >
            <h2 align="center">  CONTENIDO DEL PROGRAMA</h2>
            <br>
            <h4 style="font-size: 22px;">
                El GEN está diseñado con el principio de que nadie puede enseñar un camino que no ha recorrido. <br> <br>

                Por eso, contiene una serie de experiencias que te permitirán descubrir tus talentos y desarrollar tus
                competencias para conversar y aprender de tu propia experiencia; liberar tu Ser emprendedor,
                recorriendo el camino de desplegar un proyecto de negocio basado en la innovación; y finalmente
                desarrollar tus competencias como  coach siguiendo los más altos estándares de la práctica en el mundo.
                <br><br>
            </h4>
            <h4 align="justify" style="padding-left: 10%;font-size: 22px;">
                <b>MÓDULO 1:</b> LIBERANDO EL POTENCIAL HUMANO
                <br><br>
                <b>MÓDULO 2:</b> EL ARTE DE CREAR NEGOCIOS INNOVADORES
                <br><br>
                <b>MÓDULO 3:</b> LA PRÁCTICA DE COACHING PROFESIONAL
                <br><br>
                <b>Total horas académicas: 270 horas </b>


            </h4>

        </div>


        <div class="ElementosDiferenciadores">
        <div class="row">
            <div class="col-12" align="center">

                <h1><b>ELEMENTOS DIFERENCIADORES</b></h1>
                <br><br>

            </div>
            <div class="col-3">
                <h3 >
                    <b>EXPERIENCIA DE INMERSIÓN
                    </b>
                    <br>
                </h3>
                <img src="../img/d1.png" alt="" width="70%">
                <br>
                <h4 >
                    Conocerás en carne propia cómo piensa y
                    actúa un emprendedor profesional  y su equipo de innovación.


                </h4>


            </div>
            <div class="col-3">

                <h3 >
                    <b>PROYECTOS <br> REALES</b>
                    <br>
                </h3>
                <img src="../img/d2.png" alt="" width="70%">
                <br>
                <h4 >
                    Tendrás como misión lanzar un startup, para luego
                    aplicar lo aprendido a tu propio proyecto.



                </h4>


            </div>
            <div class="col-3">
                <h3 >
                    <b>INTENSIVO EN <br>COACHING </b>
                    <br>
                </h3>
                <img src="../img/p1.png" alt=""width="70%">
                <br>
                <h4 >
                    Recibirás el apoyo de un coach profesional
                    de emprendimiento e innovación.



                </h4>


            </div>
            <div class="col-3">
                <h3 >
                    <b>CLASES VIRTUALES PRÁCTICAS</b>
                    <br>
                </h3>
                <img src="../img/d4.png" alt="" width="100%" style="    padding-top: 4%;
    padding-bottom: 6%;">
                <br>
                <h4 >
                    Cada semana tendrás un nuevo desafío para aplicar en tu emprendimiento.



                </h4>


            </div>

        </div>

    </div>

        <div  style=" background-color: #f2f2f2;">
            <div class="ResumenAplica">

                <div class="row">

                    <div class="col-12">

                        <h2><b>RESUMEN DEL PROGRAMA</b></h2>
                        <br><br>

                    </div>
                    <div class="col-4" style="padding-bottom: 5%;">
                        <div class="row">
                            <div class="col-2">
                                <i style="font-size:48px; padding: 0px;text-align: justify; margin: 0px 0px;background:  transparent;color: black; " class="fa">&#xf017;</i>



                            </div>
                            <div class="col-10">
                                <br>
                                <h3> <b>¿Cuánto dura?</b></h3>

                            </div>


                            <div class="col-12">
                                <h4>Tiene una duración de <b> 4 días  </b> presenciales y tiempo flexible durante <b>6 semanas.</b>
                                    </b></h4>
                            </div>
                        </div>
                    </div>
                    <div class="col-4">

                        <div class="row">
                            <div class="col-2">
                                <i class="fa fa-money" style="font-size:48px; padding: 0px;text-align: justify; margin: 0px 0px;background:  transparent;color: black; "></i>

                            </div>
                            <div class="col-10">
                                <br>
                                <h3> <b>¿Cuánto cuesta?</b></h3>

                            </div>


                            <div class="col-12">
                                <h4>Consúltalo al aplicar</h4>
                            </div>
                        </div>







                    </div>
                    <div class="col-4">
                        <div class="row">
                            <div class="col-2">
                                <i class="fa"style="font-size:48px; padding: 0px;text-align: justify; margin: 0px 0px;background:  transparent;color: black; ">&#xf006;</i>

                            </div>
                            <div class="col-10">
                                <br>
                                <h3> <b>Becas disponibles</b></h3>

                            </div>


                            <div class="col-12">
                                <h4>Egresados del GEN: <br><b>25% de descuento directo</b>
                                </h4>
                            </div>
                        </div>


                    </div>
                    <div class="col-4">
                        <div class="row">
                            <div class="col-2">
                                <i style="font-size:48px; padding: 0px;text-align: justify;margin: 0px 0px;background:  transparent;color: black; " class="fa">&#xf073;</i>

                            </div>
                            <div class="col-10">
                                <br>
                                <h3> <b>¿Cuándo empieza?</b></h3>

                            </div>


                            <div class="col-12">
                                <h4>Consulta el calendario por país.
                                </h4>
                            </div>
                        </div>


                    </div>
                    <div class="col-4">
                        <div class="row">
                            <div class="col-2">
                                <i style="font-size:48px; padding: 0px;text-align: justify;margin: 0px 0px; background:  transparent;color: black; " class="fa">&#xf09d;</i>

                            </div>
                            <div class="col-10">
                                <br>
                                <h3> <b>¡Fináncialo!</b></h3>

                            </div>


                            <div class="col-12">
                                <h4>En cuotas mensuales sin intereses.

                                </h4>
                            </div>
                        </div>


                    </div>
                    <div class="col-4" align="center" >


                        <a class="redbotton" href="programacion.html" role="button" style="padding: 5%; background-color: #0099cc; "><span>  ¡APLICA AHORA!</span></a>


                    </div>

                </div>
            </div>

        </div>



                <br><br><br>


                    </div>








<div style="background-color: #0099cc;">
    <div class="row social">


        <div class="col-lg-4 col-12" align="center">
            <h5>Aceledarado Por:</h5>
            <img src="../img/LogoAccedeNegativo.png" alt="accede" width="30%">


        </div>
        <div class="col-lg-4 col-12">
            <div class="row">
                <div class="col-12">
                    <h4 align="center">SIGUE CON NOSOTROS:
                    </h4>

                </div>
                <div class="col" align="center">
                    <a href="https://www.facebook.com/StartCoachingLA/" class="fa fa-facebook"></a>
                </div>
                <div class="col" align="center">
                    <a href="https://twitter.com/StartCoachingLA" class="fa fa-twitter"></a>
                </div>
                <div class="col" align="center">
                    <a href="https://www.youtube.com/channel/UClMcCLlkAHN7UgW7jpnGW5g" class="fa fa-instagram"></a>
                </div>
                <div class="col" align="center">
                    <a href="https://www.linkedin.com/company/startcoachingla/" class="fa fa-linkedin"></a>
                </div>
                <div class="col" align="center">
                    <a href="https://www.youtube.com/channel/UClMcCLlkAHN7UgW7jpnGW5g" class="fa fa-youtube"></a>
                </div>

            </div>

        </div>
        <div class="col-lg-4 col-12" align="center">
            <img src="../img/StartCoaching.png" width="80%" style="margin-top: 10px;">

        </div>
    </div>

</div>
<script>
// Example starter JavaScript for disabling form submissions if there are invalid fields
(function() {
  'use strict';
  window.addEventListener('load', function() {
    // Fetch all the forms we want to apply custom Bootstrap validation styles to
    var forms = document.getElementsByClassName('needs-validation');
    // Loop over them and prevent submission
    var validation = Array.prototype.filter.call(forms, function(form) {
      form.addEventListener('submit', function(event) {
        if (form.checkValidity() === false) {
          event.preventDefault();
          event.stopPropagation();
        }
        form.classList.add('was-validated');
      }, false);
    });
  }, false);
})();
</script>
</body>


</html>
