<!DOCTYPE html>
<html lang="es" >
<head>
    <link rel="icon" type="image/png" href="../img/favicon.ico">
    <link rel="stylesheet" id="googlefonts_heading-css" href="http://fonts.googleapis.com/css?family=Roboto%3A300%2C400%2C400italic%2C700&amp;ver=3.8.1" type="text/css" media="all">
    <link href='http://fonts.googleapis.com/css?family=Roboto:400,300,700,700italic&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="../style/main.css">
    <meta  charset="utf-8">
    <script src="scripts/main.js"></script>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js" integrity="sha384-b/U6ypiBEHpOf/4+1nzFpr53nxSS+GLCkfwBdFNTxtclqqenISfwAzpKaMNFNmj4" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/js/bootstrap.min.js" integrity="sha384-h0AbiXch4ZDo7tp9hKZ4TsHbi047NrKGLO3SEJAg45jXxnGIfYzk4Si90RDIqNm1" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M" crossorigin="anonymous">
    <title>Programacion
    </title>
</head>
<body >
<div class="container-fluid">
    <nav class="navbar navbar-expand-lg navbar-light bg-light" style="
    position: fixed;
    z-index: 100;
    width: 100%;
    overflow: hidden;
    top:0;
">
        <a class="navbar-brand logo" href="#">
            <div>
                <img src="../img/logo.png" width="45px" height="30px">
            </div>
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarText">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="#">PROGRAMACIÓN  <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">LIBRO  </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">TOOLKIT</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">NOSOTROS</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">BLOG</a>
                </li>
            </ul>

            </span>
        </div>
    </nav>

<div class="topProgram">


        <div class="row">
                <div class="col-6"></div>
                <div class="col-6 prog">
                        <div class="fondoblanco">
                            <h1 style="color: #163853;  font-family: myFirstFont;" align="center"><b>PROGRAMACIÓN</b></h1>
                            <h2 class="startprog">
                                NO TE PIERDAS NUESTRAS
                                EXPERIENCIAS DE APRENDIZAJE
                                PARA EL EMPRENDIMIENTO
                                Y LA INNOVACIÓN


                            </h2>


                        </div>
                </div>
        </div>

</div>

<div class="programacion">
    <h5 class="tag">Filtra</h5>
    <div class="btn-group programacion" data-toggle="buttons">
        <label class="btn btn-secondary active">
            <input type="radio" name="options" id="option1" autocomplete="off" checked> TODO
        </label>
        <label class="btn btn-secondary">
            <input type="radio" name="options" id="option2" autocomplete="off"> CERTIFICACIONES
        </label>
        <label class="btn btn-secondary">
            <input type="radio" name="options" id="option3" autocomplete="off"> WORKSHOPS
        </label>
        <label class="btn btn-secondary">
            <input type="radio" name="options" id="option3" autocomplete="off"> CURSOS CORTOS
        </label>
        <label class="btn btn-secondary">
            <input type="radio" name="options" id="option3" autocomplete="off"> EVENTOS OTROS

        </label>



    </div>


    <div class="row cursos">
            <div class="col-12 col-lg-4 picture">
            <a href="">

                    <div style="background-color: #0099cc ;height: 230px;">

                        <img src="../img/gen5.png" width="100%">
                    </div>
                    <div>
                        <h3 class="titulo" align="center">Certificación en Startcoaching</h3>
                        <h5 class="fecha" align="center">Venezuela (Inicia: 26, 27 y 28 de enero de 2018)</h5>


                    </div>

            </a>
            </div>
        <div class="col-12 col-lg-4 picture">
            <a href="">

                <div style="background-color: #163853; height: 230px" >

                    <img src="../img/discover.png" width="80%">
                </div>
                <div>
                    <h3 class="titulo" align="center">Workshop: Startcoaching discover
                    </h3>
                    <h5 class="fecha" align="center">Caracas (11,12 y 13 de octubre de 2017)</h5>


                </div>

            </a>
        </div>
        <div class="col-12 col-lg-4 picture">
            <a href="">

                <div style="background-color: #cccccc ;height: 230px">

                    <img src="../img/start1.png" width="100%">
                </div>
                <div>
                    <h3 class="titulo" align="center">Taller: “Startcoaching Play”
                    </h3>
                    <h5 class="fecha" align="center">Caracas (11 de noviembre de 2017)</h5>


                </div>

            </a>
        </div>
    </div>



</div>

  <div class="preguntas">

      <div class="row">
          <div class="col-md-6 mb-3">
                  <form>

                          <label for="validationServer01">First name</label>
                          <input type="text" class="form-control" id="validationServer01" placeholder="First name" required>

                      <div class="form-group">
                          <label for="exampleFormControlInput1">Email address</label>
                          <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="name@example.com" required>
                      </div>
                      <div class="form-group">
                          <label for="exampleFormControlInput1">Telefono</label>
                      <input class="form-control" type="text" placeholder="Default input" required>
                        </div>
                      <div class="form-group">
                          <label for="exampleFormControlTextarea1">Example textarea</label>
                          <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
                      </div>
                      <button type="submit" class="btn btn-primary">Submit</button>
                  </form>

          </div>
          <div class="col-md-6 mb-3">

              <h4>Contactanos</h4>

              <i class="fa fa-whatsapp" aria-hidden="true"><h3>0414-2138331
              </h3></i>


          </div>

      </div>


  </div>





<div style="background-color: #0099cc;">
    <div class="row social">


        <div class="col-lg-4 col-12" align="center">
            <h5>Aceledarado Por:</h5>
            <h2>Accede</h2>

        </div>
        <div class="col-lg-4 col-12">
            <div class="row">
                <div class="col-12">
                    <h4 align="center">SIGUE CON NOSOTROS:
                    </h4>

                </div>
                <div class="col" align="center">
                    <a href="#" class="fa fa-facebook"></a>
                </div>
                <div class="col" align="center">
                    <a href="#" class="fa fa-twitter"></a>
                </div>
                <div class="col" align="center">
                    <a href="#" class="fa fa-instagram"></a>
                </div>
                <div class="col" align="center">
                    <a href="#" class="fa fa-linkedin"></a>
                </div>
                <div class="col" align="center">
                    <a href="#" class="fa fa-youtube"></a>
                </div>

            </div>

        </div>
        <div class="col-lg-4 col-12" align="center">
            <img src="../img/StartCoaching.png" width="80%" style="margin-top: 10px;">

        </div>
    </div>

</div>
</div>
</body>


</html>