<!DOCTYPE html>
<html lang="es" >
<head>
    <link rel="icon" type="image/png" href="../img/favicon.ico">
    <link rel="stylesheet" id="googlefonts_heading-css" href="http://fonts.googleapis.com/css?family=Roboto%3A300%2C400%2C400italic%2C700&amp;ver=3.8.1" type="text/css" media="all">
    <link href='http://fonts.googleapis.com/css?family=Roboto:400,300,700,700italic&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="../style/main.css">
    <meta  charset="utf-8">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <script src="scripts/main.js"></script>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js" integrity="sha384-b/U6ypiBEHpOf/4+1nzFpr53nxSS+GLCkfwBdFNTxtclqqenISfwAzpKaMNFNmj4" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/js/bootstrap.min.js" integrity="sha384-h0AbiXch4ZDo7tp9hKZ4TsHbi047NrKGLO3SEJAg45jXxnGIfYzk4Si90RDIqNm1" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M" crossorigin="anonymous">
    <title>GEN5
    </title>
</head>
<body >
<div class="container-fluid">
    <nav class="navbar navbar-expand-lg navbar-light bg-light" >
        <div class="row" style="width: 100%">
            <div class="col-5">
                <a class="navbar-brand logo" href="../index.html" >
                    <div align="left">
                        <img src="../img/logo-startcoaching_positivo.png" width="50%" >
                    </div>
                </a>

            </div>
            <div  class="col-7" align="right" style="margin-top: 17px;">
                <ul class="nav justify-content-end">
                    <li class="nav-item ">
                        <div class="dropdown">
                            <button class="dropbtn">APRENDER</button>
                            <div class="dropdown-content" align="center">
                                <a href="programa.html">DISCOVER</a>
                                <a href="programa3.html">ACADEMIA N</a>
                                <a href="programa4.html">PRACTITIONER</a>
                            </div>
                        </div>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="libro.html">LIBRO  </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="http://startcoachingla.blogspot.com/">BLOG</a>
                    </li>
                    <li class="nav-item">
                        <a class="redbotton" href="programacion.html" role="button"><span>APLICAR</span></a>
                    </li>
                </ul>
            </div>

        </div>

    </nav>

    <div class="producto2">
            <div class="row">
                <div class="col-3" align="center" style="padding-top: 5%;">

                    <a href=" programa.html"  >
                        <img src="../img/left-angle-bracket.svg" width="40px" >

                    </a>

                </div>
                <div class="col-6" align="center">

                    <img src="../img/nEGATIVOLOGO-GEN-STARTCOACHING.png" width="80%">


                </div>
                <div class="col-3"style="padding-top: 5%;" align="center">

                    <a href="programa3.html">
                        <img src="../img/scroll-arrow-to-right.svg" width="40px">

                    </a>

                </div>

            </div>

    </div>

            <div class="queAprenderas">
            <div class="col-12">
                <h2 style="text-align: center; font-family: myFirstFont; padding-top: 5%;">EL PROGRAMA

                </h2>
                <br><br>
                <div class="col-12" align="center" >
                    <h4 style=" font-family: myFirstFont; text-align: center;">
                      GEN es un programa de 10 meses, donde desarrollarás competencias de coaching para emprendedores,  empresarios y líderes que desean desplegar negocios intensivos en innovación.
                      <br><br>
                      <b>Modalidad:</b> 60% presencial, 40% online.<br>
                      <b>Horas académicas:</b> 270 <br>
                      <b>Certificación:</b> Coach de emprendimiento e innovación

                    </h4>


                </div>
                <div class="col-12" align="center" style="">

                    <a class="redbotton" href="programacion.html" role="button"><span>APLICAR</span></a>
                </div>

            </div>
        </div>
        <div class="row">
        <div class="col-12" align="center" style="padding-top: 5%;">
            <br><br>
            <h1 style=" font-family: myFirstFont;"> ¿QUÉ APRENDERÁS?</h1>
            <br><br>
        </div>

        <div class="col-12" style="padding-left: 10%" >

            <ul style="text-align: justify; font-family: myFirstFont;font-size: 25px; padding-right: 5%;">
                <li>Una <b>práctica profesional de coaching </b>basado en los estándares internacionales aceptados.  </li>
                <li>Conocerás el <b>poder del lenguaje </b>y el <b>arte de conversar </b> para crear organizaciones y espacios sociales.  </li>
                <li>Distinguirás  el emprendimiento y la innovación como <b> dominios conversacionales </b> a través de los cuales los emprendedores crean empresas e inventan nuevos productos.</li>
                <li>Aprenderas a distinguir los condicionantes ontológicos que limitan la acción emprendedora.

                </li>
                <li>
                    Comprenderás el poder de los  <b>contextos </b>y de las <b> narrativas </b>en la configuración de los mundo o ecosistemas de emprendimiento y la innovación.
                </li>
                <li>
                    Dominarás la conversación de coaching para el emprendimiento y la innovación.
                </li>
                <li>
                    Comprenderás <b> cómo piensan los emprendedores</b> y cómo trabajan en <b> entornos de alta incertidumbre. </b>
                </li>
                <li>
                  <b>  Incorporarán los métodos </b>y las <b>herramientas visuales</b>  que usan los emprendedores en todo el mundo, para crear y compartir sus ideas y diseñar.

                </li>
                <li>
                    Te verás inmerso en nueva <b>ética en las empresas</b>, donde ellas juegan un papel activo como fuerza positiva y transformadora de la sociedad.
                </li>
                <li>
                    Aprenderás cómo los emprendedores innovadores <b>escuchan a sus clientes</b>, crean experimentos y validan sus hipótesis de un negocio.

                </li>
                <li>
                    Experimentarás cómo las organizaciones pueden diseñar y desarrollar una cultura con nuevas prácticas, habilidades y mentalidad de innovación.

                </li>

            </ul>

        </div>

        </div>
<div class="Contenido_gen" >
      <h1 align="center">  CONTENIDO DEL PROGRAMA</h1>
      <br>
      <h4>
        El GEN está diseñado con el principio de que nadie puede enseñar un camino que no ha recorrido. <br> <br>

        Por eso, contiene una serie de experiencias que te permitirán descubrir tus talentos y desarrollar tus
         competencias para conversar y aprender de tu propia experiencia; liberar tu Ser emprendedor,
          recorriendo el camino de desplegar un proyecto de negocio basado en la innovación; y finalmente
          desarrollar tus competencias como  coach siguiendo los más altos estándares de la práctica en el mundo.
            <br><br>
              </h4>
              <h4 align="justify" style="padding-left: 10%;">
          <b>MÓDULO 1:</b> LIBERANDO EL POTENCIAL HUMANO
          <br><br>
          <b>MÓDULO 2:</b> EL ARTE DE CREAR NEGOCIOS INNOVADORES
          <br><br>
          <b>MÓDULO 3:</b> LA PRÁCTICA DE COACHING PROFESIONAL
          <br><br>
          <b>Total horas académicas: 270 horas </b>


</h4>





</div>




</div>


        <br><br><br>
        <div class="col-12" align="center" style="padding: 10%;font-family: myFirstFont;">
            <h1 align="center"> APLICAR PARA LA PRÓXIMA GENERACIÓN</h1>
              <h4 align="center">
                Para nosotros es muy importante que los futuros coaches de nuestra escuela tengan
                sensibilidad, actitudes y vocación para acompañarnos en el enorme desafío de ayudar a
                crear mejores empresas para el mundo.
                <br><br>
                 ¿Eres uno de nosotros?

<br><br>

              </h4>

            <a class="redbotton" href="programacion.html" role="button" style="padding: 22px 72px;"><span>  ¡APLICA AHORA!</span></a>
        </div>





</div>




                    <div style="background-color: #0099cc;">
                        <div class="row social">


                            <div class="col-lg-4 col-12" align="center">
                                <h5>Aceledarado Por:</h5>
                                <img src="../img/LogoAccedeNegativo.png" alt="accede" width="30%">


                            </div>
                            <div class="col-lg-4 col-12">
                                <div class="row">
                                    <div class="col-12">
                                        <h4 align="center">SIGUE CON NOSOTROS:
                                        </h4>

                                    </div>
                                    <div class="col" align="center">
                                        <a href="https://www.facebook.com/StartCoachingLA/" class="fa fa-facebook"></a>
                                    </div>
                                    <div class="col" align="center">
                                        <a href="https://twitter.com/StartCoachingLA" class="fa fa-twitter"></a>
                                    </div>
                                    <div class="col" align="center">
                                        <a href="https://www.youtube.com/channel/UClMcCLlkAHN7UgW7jpnGW5g" class="fa fa-instagram"></a>
                                    </div>
                                    <div class="col" align="center">
                                        <a href="https://www.linkedin.com/company/startcoachingla/" class="fa fa-linkedin"></a>
                                    </div>
                                    <div class="col" align="center">
                                        <a href="https://www.youtube.com/channel/UClMcCLlkAHN7UgW7jpnGW5g" class="fa fa-youtube"></a>
                                    </div>

                                </div>

                            </div>
                            <div class="col-lg-4 col-12" align="center">
                                <img src="../img/StartCoaching.png" width="80%" style="margin-top: 10px;">

                            </div>
                        </div>

                    </div>

</body>


</html>
